.version._1081009 /* version checker */
{
	color: #0000F6;
	background-color: #D19B81;
}

.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.7741758241755px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 419px;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 357px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 52px;
}

#u153-4:active,#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 188px;
}

#u7869-4:active,#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu5030
{
	z-index: 117;
	width: 0.01px;
	height: 445px;
	margin-left: 53px;
	margin-top: 71px;
	position: relative;
}

#u5031
{
	position: absolute;
	width: 640px;
	height: 377px;
	background-color: transparent;
	left: 107px;
}

#u5031popup
{
	z-index: 118;
}

#u5064
{
	z-index: 119;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6956
{
	z-index: 121;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6956_img
{
	padding-top: 7px;
	padding-bottom: 6px;
}

#u6971
{
	z-index: 123;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6971_img
{
	padding-top: 9px;
	padding-bottom: 9px;
}

#u6986
{
	z-index: 125;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7001
{
	z-index: 127;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7016
{
	z-index: 129;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7031
{
	z-index: 131;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7031_img
{
	padding-top: 11px;
	padding-bottom: 10px;
}

#u7046
{
	z-index: 133;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7061
{
	z-index: 135;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7076
{
	z-index: 137;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7103
{
	z-index: 139;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7118
{
	z-index: 141;
	width: 640px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7016_img,#u7118_img
{
	padding-top: 4px;
	padding-bottom: 3px;
}

#u5091
{
	position: absolute;
	width: 853px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 13px;
	top: 384px;
}

#u5091popup
{
	z-index: 143;
}

#u5108
{
	z-index: 144;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 11px;
}

#u6959
{
	z-index: 146;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 81px;
}

#u6974
{
	z-index: 148;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 151px;
}

#u6989
{
	z-index: 150;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 221px;
}

#u7004
{
	z-index: 152;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 291px;
}

#u7019
{
	z-index: 154;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 361px;
}

#u7034
{
	z-index: 156;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 431px;
}

#u5064_img,#u7034_img
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u7049
{
	z-index: 158;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 501px;
}

#u7064
{
	z-index: 160;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 571px;
}

#u7079
{
	z-index: 162;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 641px;
}

#u5108_img,#u6959_img,#u6989_img,#u7004_img,#u7049_img,#u7079_img
{
	padding-top: 5px;
	padding-bottom: 6px;
}

#u7106
{
	z-index: 164;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 711px;
}

#u7121
{
	z-index: 166;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 781px;
}

#u7001_img,#u7076_img,#u7019_img,#u7064_img,#u7106_img,#u7121_img
{
	padding-top: 5px;
	padding-bottom: 5px;
}

#u5069-8
{
	position: absolute;
	width: 60px;
	min-height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 42px;
	font-size: 30px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 8px;
	left: 107px;
}

#u5069-8popup
{
	z-index: 168;
}

#u5070-8
{
	position: absolute;
	width: 59px;
	min-height: 341px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 42px;
	font-size: 30px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 8px;
	left: 667px;
}

#u5070-8popup
{
	z-index: 176;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3437-3
{
	z-index: 192;
	width: 5px;
	background-color: transparent;
	left: -183px;
	top: -159px;
	margin-bottom: -17px;
	position: relative;
}

#ppu3438-12
{
	width: 0.01px;
	margin-top: 37px;
}

#pu3438-12
{
	width: 0.01px;
	margin-right: -10000px;
}

#u3438-12
{
	z-index: 20;
	width: 396px;
	min-height: 105px;
	background-color: transparent;
	position: relative;
}

#u3438-2
{
	font-size: 28px;
	line-height: 34px;
}

#u3438
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u3438-4,#u3438-6,#u3438-8
{
	font-size: 15px;
	line-height: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u3438-9
{
	font-family: pt-sans, sans-serif;
	font-weight: 400;
}

#u3513-17
{
	z-index: 32;
	width: 440px;
	min-height: 123px;
	background-color: transparent;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u3513-2
{
	font-size: 18px;
	line-height: 27px;
}

#u3513-3,#u3513-6,#u3513-9,#u3513-12
{
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u3513-5,#u3513-8,#u3513-11,#u3513-14,#u3513-15
{
	line-height: 21px;
}

#u3439-4
{
	z-index: 184;
	width: 480px;
	min-height: 217px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 481px;
}

#u3440-4
{
	z-index: 188;
	width: 200px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#slideshowu3443
{
	z-index: 49;
	width: 0.01px;
	height: 446px;
	margin-top: 13px;
	position: relative;
}

#u3446
{
	position: absolute;
	width: 640px;
	height: 402px;
	background-color: transparent;
	top: 4px;
}

#u3446popup
{
	z-index: 50;
}

#u4361
{
	z-index: 51;
	width: 640px;
	height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4361_img
{
	padding-top: 22px;
	padding-bottom: 22px;
}

#u4376
{
	z-index: 53;
	width: 640px;
	height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4376_img
{
	padding-top: 37px;
	padding-bottom: 37px;
}

#u4391
{
	z-index: 55;
	width: 640px;
	height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4391_img
{
	margin-top: -16px;
	margin-bottom: -17px;
}

#u4406
{
	z-index: 57;
	width: 640px;
	height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4406_img
{
	margin-top: -12px;
	margin-bottom: -13px;
}

#u4421
{
	z-index: 59;
	width: 640px;
	height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4391_clip,#u4406_clip,#u4421_clip
{
	overflow: hidden;
	width: 640px;
	height: 402px;
}

#u4421_img
{
	margin-top: -5px;
	margin-bottom: -5px;
}

#u4436
{
	z-index: 61;
	width: 640px;
	height: 402px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4436_img
{
	padding-top: 67px;
	padding-right: 1px;
	padding-bottom: 66px;
}

#u3463
{
	position: absolute;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 169px;
	left: 640px;
}

#u3463popup
{
	z-index: 63;
}

#u4364
{
	z-index: 64;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 25px;
}

#u7046_img,#u6974_img,#u4364_img
{
	padding-top: 6px;
	padding-bottom: 5px;
}

#u4379
{
	z-index: 66;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 95px;
}

#u6986_img,#u4379_img
{
	padding-top: 7px;
	padding-bottom: 7px;
}

#u4394
{
	z-index: 68;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 165px;
}

#u4394_img
{
	padding-top: 2px;
	padding-bottom: 2px;
}

#u4409
{
	z-index: 70;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 235px;
}

#u5108.SSSlideLinkSelected,#u6959.SSSlideLinkSelected,#u6974.SSSlideLinkSelected,#u6989.SSSlideLinkSelected,#u7004.SSSlideLinkSelected,#u7019.SSSlideLinkSelected,#u7034.SSSlideLinkSelected,#u7049.SSSlideLinkSelected,#u7064.SSSlideLinkSelected,#u7079.SSSlideLinkSelected,#u7106.SSSlideLinkSelected,#u7121.SSSlideLinkSelected,#u4364.SSSlideLinkSelected,#u4379.SSSlideLinkSelected,#u4394.SSSlideLinkSelected,#u4409.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u4409_img
{
	padding-top: 2px;
	padding-bottom: 3px;
}

#u4424
{
	z-index: 72;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 25px;
}

#u7061_img,#u7103_img,#u4424_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

#u4439
{
	z-index: 74;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 95px;
}

#u4424.SSSlideLinkSelected,#u4439.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 59px -10000px 0px 0px;
}

#u4439_img
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u3504
{
	position: absolute;
	width: 579px;
	background-color: transparent;
	top: 406px;
	left: 31px;
}

#u3504popup
{
	z-index: 76;
}

#u4367-4
{
	z-index: 77;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4382-4
{
	z-index: 81;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4397-4
{
	z-index: 85;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4412-4
{
	z-index: 89;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4427-4
{
	z-index: 93;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u4442-4
{
	z-index: 97;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u3482-8
{
	position: absolute;
	width: 60px;
	min-height: 382px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 42px;
	font-size: 30px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 4px;
}

#u3482-8popup
{
	z-index: 101;
}

#u3444-8
{
	position: absolute;
	width: 59px;
	min-height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 42px;
	font-size: 30px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 561px;
}

#u3444-8popup
{
	z-index: 109;
}

body
{
	position: relative;
	min-width: 960px;
}

