.version.about /* version checker */
{
	color: #0000F5;
	background-color: #080A41;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 896px;
	min-height: 1221px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #E2E2E2;
	padding-left: 64px;
	padding-top: 23px;
	padding-bottom: 146px;
	margin-left: auto;
	margin-right: auto;
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 355px;
	position: relative;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 293px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u153-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
}

#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#pu11976
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 95px;
}

#u11976
{
	z-index: 28;
	width: 305px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u7817-8
{
	z-index: 20;
	width: 480px;
	background-color: transparent;
	line-height: 28px;
	color: #000000;
	font-size: 16px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u24286
{
	z-index: 199;
	width: 191px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 414px;
	position: relative;
}

#u24288-4
{
	z-index: 200;
	width: 189px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	position: relative;
}

#u24288-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 189px;
	margin: 0px;
}

#u24288-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 189px;
	margin: 0px;
}

#u24288-4:hover p,#u24288-4:hover span,#u24288-4:active p,#u24288-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24287-4
{
	z-index: 204;
	width: 146px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	margin-top: 5px;
	position: relative;
}

#u24287-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 146px;
	margin: 5px 0px 0px;
}

#u24287-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 146px;
	margin: 5px 0px 0px;
}

#u24287-4:hover p,#u24287-4:hover span,#u24287-4:active p,#u24287-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24288,#u24287
{
	font-size: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 700;
}

#ppu24148-67
{
	width: 0.01px;
	margin-top: 38px;
}

#pu24148-67
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 400px;
}

#u24148-67
{
	z-index: 43;
	width: 451px;
	min-height: 200px;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
	line-height: 21px;
	color: #4A4243;
	font-size: 14px;
	font-family: quicksand, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u24148
{
	color: #282828;
	font-family: quicksand, sans-serif;
	font-weight: 700;
}

#u24148-2,#u24148-4
{
	font-weight: 700;
}

#u24148-12
{
	letter-spacing: -1px;
}

#u24148-7,#u24148-10,#u24148-15,#u24148-18,#u24148-20,#u24148-23,#u24148-26,#u24148-29,#u24148-32,#u24148-35,#u24148-38,#u24148-44,#u24148-47,#u24148-50,#u24148-53,#u24148-59,#u24148-62
{
	font-weight: 700;
	font-style: italic;
}

#u24148-6,#u24148-9,#u24148-14,#u24148-17,#u24148-22,#u24148-25,#u24148-28,#u24148-31,#u24148-34,#u24148-37,#u24148-40,#u24148-41,#u24148-43,#u24148-46,#u24148-49,#u24148-52,#u24148-55,#u24148-56,#u24148-58,#u24148-61,#u24148-64,#u24148-65
{
	font-weight: 400;
}

#u24545-4
{
	z-index: 212;
	width: 110px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 77px;
}

#u24545-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 110px;
	margin: 177px -10000px 0px 0px;
}

#u24545-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 110px;
	margin: 177px -10000px 0px 0px;
}

#u24545-4:hover p,#u24545-4:hover span,#u24545-4:active p,#u24545-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24545
{
	font-size: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u24160
{
	z-index: 110;
	width: 372px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u24058-42
{
	z-index: 111;
	width: 342px;
	min-height: 200px;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
	position: relative;
	margin-right: -10000px;
}

#u24058-9
{
	font-size: 11px;
	line-height: 17px;
	color: #E2E2E2;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u24058-6
{
	letter-spacing: -1px;
	color: #282828;
	font-style: italic;
}

#u24058-5,#u24058-7
{
	color: #282828;
	font-style: italic;
}

#u24058-3,#u24058-8
{
	color: #282828;
}

#u24058-10
{
	font-size: 12px;
	line-height: 18px;
	color: #E2E2E2;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u24058-4,#u24058-11,#u24058-12,#u24058-13,#u24058-14,#u24058-15,#u24058-16,#u24058-17,#u24058-18,#u24058-19
{
	line-height: 21px;
	color: #E2E2E2;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u24058-2,#u24058-20,#u24058-21,#u24058-23,#u24058-25
{
	font-size: 14px;
	line-height: 21px;
	color: #282828;
	font-family: quicksand, sans-serif;
	font-weight: 700;
}

#u24058-31
{
	font-size: 14px;
	text-transform: uppercase;
	line-height: 21px;
	color: #282828;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u24058-34
{
	font-size: 13px;
	text-transform: uppercase;
	line-height: 20px;
	color: #282828;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u24058-27,#u24058-29,#u24058-33
{
	text-transform: none;
}

#u24058-35
{
	font-size: 13px;
	line-height: 20px;
	color: #282828;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u24058-37
{
	font-size: 14px;
	line-height: 21px;
	color: #282828;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u24058-39
{
	font-size: 13px;
	line-height: 20px;
	color: #282828;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u24058-40
{
	font-size: 14px;
	line-height: 21px;
	color: #4A4243;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u24265
{
	z-index: 153;
	width: 117px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 14px;
}

#u24166-4
{
	z-index: 154;
	width: 53px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	position: relative;
}

#u24166-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 53px;
	margin: 0px;
}

#u24166-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 53px;
	margin: 0px;
}

#u24166-4:hover p,#u24166-4:hover span,#u24166-4:active p,#u24166-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24208-4
{
	z-index: 158;
	width: 64px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	margin-top: 4px;
	position: relative;
}

#u24208-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 64px;
	margin: 4px 0px 0px;
}

#u24208-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 64px;
	margin: 4px 0px 0px;
}

#u24208-4:hover p,#u24208-4:hover span,#u24208-4:active p,#u24208-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24214-4
{
	z-index: 162;
	width: 115px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	margin-top: 4px;
	position: relative;
}

#u24214-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 115px;
	margin: 4px 0px 0px;
}

#u24214-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 115px;
	margin: 4px 0px 0px;
}

#u24214-4:hover p,#u24214-4:hover span,#u24214-4:active p,#u24214-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24232-4
{
	z-index: 166;
	width: 99px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	margin-top: 5px;
	position: relative;
}

#u24232-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 99px;
	margin: 5px 0px 0px;
}

#u24232-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 99px;
	margin: 5px 0px 0px;
}

#u24232-4:hover p,#u24232-4:hover span,#u24232-4:active p,#u24232-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24238-4
{
	z-index: 170;
	width: 69px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	margin-top: 4px;
	position: relative;
}

#u24238-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 4px 0px 0px;
}

#u24238-4:hover p,#u24238-4:hover span,#u24238-4:active p,#u24238-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24256-4
{
	z-index: 174;
	width: 18px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	margin-top: 4px;
	position: relative;
}

#u24256-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 18px;
	margin: 4px 0px 0px;
}

#u24256-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 18px;
	margin: 4px 0px 0px;
}

#u24256-4:hover p,#u24256-4:hover span,#u24256-4:active p,#u24256-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24262-4
{
	z-index: 178;
	width: 56px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	margin-top: 4px;
	position: relative;
}

#u24262-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 56px;
	margin: 4px 0px 0px;
}

#u24262-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 56px;
	margin: 4px 0px 0px;
}

#u24262-4:hover p,#u24262-4:hover span,#u24262-4:active p,#u24262-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24304-4
{
	z-index: 182;
	width: 69px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	margin-top: 4px;
	position: relative;
}

#u24304-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 4px 0px 0px;
}

#u24238-4:active,#u24304-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 4px 0px 0px;
}

#u24304-4:hover p,#u24304-4:hover span,#u24304-4:active p,#u24304-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24337-4
{
	z-index: 186;
	width: 75px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	margin-top: 5px;
	position: relative;
}

#u24337-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 75px;
	margin: 5px 0px 0px;
}

#u24337-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 75px;
	margin: 5px 0px 0px;
}

#u24337-4:hover p,#u24337-4:hover span,#u24337-4:active p,#u24337-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24271
{
	z-index: 190;
	width: 115px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 319px;
	left: 14px;
}

#u24220-4
{
	z-index: 191;
	width: 73px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	position: relative;
}

#u24220-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 73px;
	margin: 0px;
}

#u24220-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 73px;
	margin: 0px;
}

#u24220-4:hover p,#u24220-4:hover span,#u24220-4:active p,#u24220-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24226-4
{
	z-index: 195;
	width: 113px;
	min-height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	margin-top: 4px;
	position: relative;
}

#u24226-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 113px;
	margin: 4px 0px 0px;
}

#u24226-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 113px;
	margin: 4px 0px 0px;
}

#u24226-4:hover p,#u24226-4:hover span,#u24226-4:active p,#u24226-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24166,#u24208,#u24214,#u24232,#u24238,#u24256,#u24262,#u24304,#u24337,#u24220,#u24226
{
	font-size: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u24277-4
{
	z-index: 208;
	width: 26px;
	min-height: 9px;
	border-width: 0px;
	border-color: transparent;
	background-color: #EBEBEB;
	padding: 1px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 14px;
}

#u24277-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 9px;
	width: 26px;
	margin: 104px -10000px 0px 0px;
}

#u24277-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 9px;
	width: 26px;
	margin: 104px -10000px 0px 0px;
}

#u24277-4:hover p,#u24277-4:hover span,#u24277-4:active p,#u24277-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u24277-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u24277
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
	line-height: 11px;
}

#pu12721
{
	width: 0.01px;
	margin-left: 305px;
	margin-top: 33px;
}

#u12721
{
	z-index: 30;
	width: 21px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/new1mail.png") no-repeat left top;
}

#u12721:hover
{
	width: 21px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/new1mail-u12721-r-fr.png") no-repeat left top;
}

#u12723
{
	z-index: 32;
	width: 8px;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 35px;
	background: transparent url("../images/new2fb.png") no-repeat left top;
}

#u12723:hover
{
	width: 8px;
	height: 17px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/new2fb-u12723-r-fr.png") no-repeat left top;
}

#u12725
{
	z-index: 33;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	left: 57px;
	background: transparent url("../images/new3insta.png") no-repeat left top;
}

#u12725:hover
{
	width: 16px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/new3insta-u12725-r-fr.png") no-repeat left top;
}

#u12727
{
	z-index: 35;
	width: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 87px;
	background: transparent url("../images/new4vimeo.png") no-repeat left top;
}

#u12727:hover
{
	width: 15px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	background: transparent url("../images/new4vimeo-u12727-r-fr.png") no-repeat left top;
}

#u12729
{
	z-index: 37;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	left: 113px;
	background: transparent url("../images/new5pin.png") no-repeat left top;
}

#u12729:hover
{
	width: 17px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/new5pin-u12729-r-fr.png") no-repeat left top;
}

#u12731
{
	z-index: 39;
	width: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 142px;
	background: transparent url("../images/new6twitter.png") no-repeat left top;
}

#u12731:hover
{
	width: 18px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	background: transparent url("../images/new6twitter-u12731-r-fr.png") no-repeat left top;
}

#u12721_img:hover,#u12725_img:hover,#u12727_img:hover,#u12729_img:hover,#u12731_img:hover
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u12733
{
	z-index: 41;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u12733:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 17px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.html
{
	background-color: #E2E2E2;
}

body
{
	position: relative;
	min-width: 960px;
}

