.version.comingsoon /* version checker */
{
	color: #000001;
	background-color: #6D46BD;
}

.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right: auto;
}

#ppu2733
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 209px;
	margin-left: -100px;
}

#pu2733
{
	width: 0.01px;
	margin-left: 480px;
}

#u2733
{
	z-index: 2;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u2728
{
	z-index: 16;
	width: 154px;
	background-color: transparent;
	margin-left: 23px;
	position: relative;
}

#u2728_img
{
	padding-bottom: 5px;
}

#u2731-10
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-top: 18px;
	position: relative;
}

#u2682
{
	z-index: 3;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#u2693
{
	z-index: 4;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2691
{
	z-index: 6;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u2689
{
	z-index: 8;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u2687
{
	z-index: 10;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u2685
{
	z-index: 12;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u2683
{
	z-index: 14;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u2734-4
{
	z-index: 28;
	width: 200px;
	background-color: transparent;
	letter-spacing: 3px;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
}

#u2734
{
	color: #4A4142;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u15235
{
	z-index: 59;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 287px;
}

#pu11928
{
	width: 0.01px;
	margin-top: 103px;
}

#u11928
{
	z-index: 32;
	width: 1161px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11928_clip
{
	overflow: hidden;
	width: 1161px;
	height: 696px;
}

#u11928_img
{
	margin-left: 1px;
	margin-top: -15px;
	margin-bottom: -62px;
}

#u11930
{
	z-index: 34;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 570px;
	left: 658px;
}

#u11930:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 17px;
	min-height: 0px;
	margin: 570px -10000px 0px 0px;
}

#u11932
{
	z-index: 36;
	width: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 485px;
	background: transparent url("../images/new1mail.png") no-repeat left top;
}

#u11932:hover
{
	width: 21px;
	min-height: 0px;
	margin: 571px -10000px 0px 0px;
	background: transparent url("../images/new1mail-u7586-r-fr.png") no-repeat left top;
}

#u11934
{
	z-index: 38;
	width: 8px;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 520px;
	background: transparent url("../images/wnew2fb.png") no-repeat left top;
}

#u11934:hover
{
	width: 8px;
	height: 17px;
	min-height: 0px;
	margin: 571px -10000px 0px 0px;
	background: transparent url("../images/wnew2fb-u11934-r-fr.png") no-repeat left top;
}

#u11935
{
	z-index: 39;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 570px;
	left: 542px;
	background: transparent url("../images/new3insta.png") no-repeat left top;
}

#u11935:hover
{
	width: 16px;
	min-height: 0px;
	margin: 570px -10000px 0px 0px;
	background: transparent url("../images/new3insta-u7590-r-fr.png") no-repeat left top;
}

#u11937
{
	z-index: 41;
	width: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 573px;
	left: 572px;
	background: transparent url("../images/new4vimeo.png") no-repeat left top;
}

#u11937:hover
{
	width: 15px;
	min-height: 0px;
	margin: 573px -10000px 0px 0px;
	background: transparent url("../images/new4vimeo-u7592-r-fr.png") no-repeat left top;
}

#u11939
{
	z-index: 43;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 598px;
	background: transparent url("../images/new5pin.png") no-repeat left top;
}

#u11939:hover
{
	width: 17px;
	min-height: 0px;
	margin: 571px -10000px 0px 0px;
	background: transparent url("../images/new5pin-u7594-r-fr.png") no-repeat left top;
}

#u11941
{
	z-index: 45;
	width: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 572px;
	left: 627px;
	background: transparent url("../images/new6twitter.png") no-repeat left top;
}

#u11941:hover
{
	width: 18px;
	min-height: 0px;
	margin: 572px -10000px 0px 0px;
	background: transparent url("../images/new6twitter-u7596-r-fr.png") no-repeat left top;
}

#u11932_img:hover,#u11935_img:hover,#u11937_img:hover,#u11939_img:hover,#u11941_img:hover
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u12715-12
{
	z-index: 47;
	width: 530px;
	min-height: 301px;
	background-color: transparent;
	padding: 15px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 1222px;
}

#u12715-3
{
	font-size: 17px;
	line-height: 26px;
	font-family: quicksand, sans-serif;
	font-style: italic;
}

#u12715-4
{
	font-size: 15px;
	line-height: 23px;
	font-family: quicksand, sans-serif;
	font-style: italic;
}

#u12715,#u12715-6,#u12715-7,#u12715-9,#u12715-10
{
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
}

body
{
	position: relative;
	min-width: 960px;
}

