.version.disturbingmuses /* version checker */
{
	color: #000005;
	background-color: #695557;
}

.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 419px;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 357px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u153-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 52px;
}

#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 188px;
}

#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#pu8271
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 70px;
}

#u8271
{
	z-index: 21;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8274
{
	z-index: 20;
	width: 57px;
	height: 500px;
	position: relative;
	margin-right: -10000px;
	left: 303px;
}

.ie #u8274
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u8409-5
{
	z-index: 164;
	width: 350px;
	min-height: 44px;
	background-color: transparent;
	padding-left: 15px;
	margin-left: 332px;
	margin-top: 21px;
	position: relative;
}

#u8409-2
{
	font-size: 16px;
	line-height: 19px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#pslideshowu8276
{
	width: 0.01px;
	margin-left: -17px;
	margin-top: 42px;
}

#slideshowu8276
{
	z-index: 33;
	width: 0.01px;
	height: 458px;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u8292
{
	position: absolute;
	width: 640px;
	height: 427px;
	background-color: transparent;
	left: 328px;
}

#u8292popup
{
	z-index: 34;
}

#u8297
{
	z-index: 35;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8297_img
{
	padding-right: 1px;
	padding-bottom: 27px;
}

#u8299
{
	z-index: 37;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8299_img
{
	padding-left: 1px;
	padding-bottom: 27px;
}

#u8295
{
	z-index: 39;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8293
{
	z-index: 41;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8295_img,#u8293_img
{
	padding-right: 1px;
	padding-bottom: 26px;
}

#u8370
{
	z-index: 43;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8389
{
	z-index: 45;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8370_img,#u8389_img
{
	padding-bottom: 26px;
}

#u8277
{
	position: absolute;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 21px;
	top: 300px;
}

#u8277popup
{
	z-index: 47;
}

#u8280
{
	z-index: 48;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 25px;
}

#u8278
{
	z-index: 50;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 95px;
}

#u8284
{
	z-index: 52;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 165px;
}

#u8282
{
	z-index: 54;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 235px;
}

#u8280.SSSlideLinkSelected,#u8278.SSSlideLinkSelected,#u8284.SSSlideLinkSelected,#u8282.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u8373
{
	z-index: 56;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 25px;
}

#u8392
{
	z-index: 58;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 95px;
}

#u8373.SSSlideLinkSelected,#u8392.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u8287
{
	position: absolute;
	width: 579px;
	background-color: transparent;
	top: 398px;
	left: 328px;
}

#u8287popup
{
	z-index: 60;
}

#u8290-4
{
	z-index: 61;
	width: 559px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u8288-4
{
	z-index: 65;
	width: 559px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u8289-4
{
	z-index: 69;
	width: 559px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u8291-4
{
	z-index: 73;
	width: 559px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u8376-4
{
	z-index: 77;
	width: 559px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u8395-4
{
	z-index: 81;
	width: 559px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u8305-8
{
	position: absolute;
	width: 60px;
	min-height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 328px;
}

#u8305-8popup
{
	z-index: 85;
}

#u8286-8
{
	position: absolute;
	width: 60px;
	min-height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 888px;
}

#u8286-8popup
{
	z-index: 93;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u8407-11
{
	z-index: 153;
	width: 362px;
	min-height: 110px;
	background-color: transparent;
	padding-left: 15px;
	position: relative;
	margin-right: -10000px;
}

#u8407-2
{
	font-size: 28px;
	line-height: 34px;
}

#u8407-4,#u8407-6,#u8407-8
{
	font-size: 15px;
	line-height: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u8408-9
{
	z-index: 169;
	width: 280px;
	min-height: 139px;
	background-color: transparent;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	top: -322px;
	margin-bottom: -139px;
	position: relative;
}

#u8408-2
{
	font-size: 18px;
	line-height: 27px;
}

#u8408-3
{
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u8407,#u8408-5
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u8408-6,#u8408-7
{
	line-height: 21px;
}

#u8275-11
{
	z-index: 22;
	width: 930px;
	min-height: 301px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u9666-4
{
	z-index: 178;
	width: 200px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#slideshowu9544
{
	z-index: 101;
	width: 0.01px;
	height: 427px;
	margin-top: 5px;
	position: relative;
}

#u9565
{
	position: absolute;
	width: 640px;
	height: 427px;
	background-color: transparent;
}

#u9565popup
{
	z-index: 102;
}

#u9636
{
	z-index: 103;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9606
{
	z-index: 105;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9606_img
{
	padding-right: 55px;
	padding-bottom: 22px;
}

#u9621
{
	z-index: 107;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9636_img,#u9621_img
{
	padding-right: 54px;
	padding-bottom: 22px;
}

#u9570
{
	z-index: 109;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9570_img
{
	padding-left: 1px;
	padding-right: 55px;
	padding-bottom: 28px;
}

#u9546
{
	position: absolute;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 76px;
	left: 613px;
}

#u9546popup
{
	z-index: 111;
}

#u9639
{
	z-index: 112;
	width: 68px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 9px;
}

#u9609
{
	z-index: 114;
	width: 68px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 87px;
}

#u9624
{
	z-index: 116;
	width: 68px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 165px;
}

#u9639_clip,#u9609_clip,#u9624_clip
{
	overflow: hidden;
	width: 68px;
	height: 45px;
}

#u9639_img,#u9609_img,#u9624_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u9557
{
	z-index: 118;
	width: 68px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 243px;
}

#u9639.SSSlideLinkSelected,#u9609.SSSlideLinkSelected,#u9624.SSSlideLinkSelected,#u9557.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 68px;
	height: 45px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u9578
{
	position: absolute;
	width: 355px;
	background-color: transparent;
	top: 331px;
	left: 605px;
}

#u9578popup
{
	z-index: 120;
}

#u9642-4
{
	z-index: 121;
	width: 335px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u9612-4
{
	z-index: 125;
	width: 335px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u9627-4
{
	z-index: 129;
	width: 335px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u9580-4
{
	z-index: 133;
	width: 335px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: left;
	line-height: 20px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u9564-8
{
	position: absolute;
	width: 60px;
	min-height: 378px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9564-8popup
{
	z-index: 137;
}

#u9559-8
{
	position: absolute;
	width: 60px;
	min-height: 378px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 505px;
}

#u9559-8popup
{
	z-index: 145;
}

body
{
	position: relative;
	min-width: 960px;
}

