.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 720px;
	min-height: 414.62417582417595px;
	margin-left: auto;
	margin-right: auto;
	padding: 23px 80px 62.37582417582405px 160px;
}

#u281
{
	z-index: 15;
	width: 122px;
	margin-left: 259px;
}

#pu152-4
{
	width: 0.01px;
	margin-left: 240px;
	margin-top: 4px;
	position: relative;
}

#u152-4
{
	z-index: 2;
	width: 45px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u152-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u153-4
{
	z-index: 6;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 55px;
}

#u152-4:active,#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u154-4
{
	z-index: 10;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 101px;
}

#u153-4:active,#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u196
{
	z-index: 14;
	width: 152px;
	height: 20px;
	margin-left: 568px;
	margin-top: 25px;
}

#slideshowu4249
{
	z-index: 27;
	width: 0.01px;
	height: 580px;
	margin-top: 24px;
	position: relative;
}

#u4261
{
	position: absolute;
	width: 640px;
	height: 446px;
	background-color: transparent;
}

#u4261popup
{
	z-index: 28;
}

#u4262
{
	z-index: 29;
	width: 640px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7430
{
	z-index: 31;
	width: 640px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7430_img
{
	padding-left: 97px;
	padding-right: 97px;
}

#u7415
{
	z-index: 33;
	width: 640px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4262_img,#u7415_img
{
	padding-top: 47px;
	padding-bottom: 47px;
}

#u4302
{
	position: absolute;
	width: 320px;
	padding-bottom: 90px;
	top: 441px;
	left: 160px;
}

#u4302popup
{
	z-index: 35;
}

#u4311
{
	z-index: 36;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 60px;
}

#u7433
{
	z-index: 38;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 130px;
}

#u7433_img
{
	padding-left: 8px;
	padding-right: 8px;
}

#u7418
{
	z-index: 40;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 200px;
}

#u4311.SSSlideLinkSelected,#u7433.SSSlideLinkSelected,#u7418.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u4311_img,#u7418_img
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u4301-8
{
	position: absolute;
	width: 60px;
	min-height: 336px;
	padding: 10px;
	text-align: center;
	color: #999999;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 45px;
}

#u4301-8popup
{
	z-index: 42;
}

#u4250-8
{
	position: absolute;
	width: 59px;
	min-height: 340px;
	padding: 10px;
	text-align: center;
	color: #999999;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 41px;
	left: 561px;
}

#u4250-8popup
{
	z-index: 50;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4324-10
{
	z-index: 17;
	width: 396px;
	min-height: 96px;
	top: -47px;
	margin-bottom: -47px;
	position: relative;
}

#u4324-2
{
	font-size: 28px;
	line-height: 34px;
}

#u4324
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u4324-4,#u4324-6,#u4324-8
{
	font-size: 15px;
	line-height: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

