.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 720px;
	min-height: 414.69917582417577px;
	margin-left: auto;
	margin-right: auto;
	padding: 23px 80px 62.30082417582423px 160px;
}

#u281
{
	z-index: 15;
	width: 122px;
	margin-left: 259px;
}

#pu152-4
{
	width: 0.01px;
	margin-left: 240px;
	margin-top: 4px;
	position: relative;
}

#u152-4
{
	z-index: 2;
	width: 45px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u152-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u153-4
{
	z-index: 6;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 55px;
}

#u152-4:active,#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u154-4
{
	z-index: 10;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 101px;
}

#u153-4:active,#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u196
{
	z-index: 14;
	width: 152px;
	height: 20px;
	margin-left: 568px;
	margin-top: 25px;
}

#slideshowu7441
{
	z-index: 27;
	width: 0.01px;
	height: 580px;
	margin-top: 24px;
	position: relative;
}

#u7450
{
	position: absolute;
	width: 640px;
	height: 446px;
	background-color: transparent;
}

#u7450popup
{
	z-index: 28;
}

#u7455
{
	z-index: 29;
	width: 640px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7455_img
{
	padding-left: 164px;
	padding-right: 164px;
}

#u7506
{
	z-index: 31;
	width: 640px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7506_img
{
	padding-left: 2px;
	padding-right: 2px;
}

#u7519
{
	z-index: 33;
	width: 640px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7519_img
{
	padding-top: 86px;
	padding-bottom: 86px;
}

#u7533
{
	z-index: 35;
	width: 640px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7533_img
{
	padding-left: 220px;
	padding-right: 219px;
}

#u7442
{
	position: absolute;
	width: 320px;
	padding-bottom: 90px;
	top: 441px;
	left: 160px;
}

#u7442popup
{
	z-index: 37;
}

#u7447
{
	z-index: 38;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 25px;
}

#u7447_img
{
	padding-left: 14px;
	padding-right: 14px;
}

#u7509
{
	z-index: 40;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 95px;
}

#u7509_img
{
	padding-top: 1px;
	padding-bottom: 1px;
}

#u7522
{
	z-index: 42;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 165px;
}

#u7522_img
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7536
{
	z-index: 44;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 235px;
}

#u7447.SSSlideLinkSelected,#u7509.SSSlideLinkSelected,#u7522.SSSlideLinkSelected,#u7536.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u7536_img
{
	padding-left: 20px;
	padding-right: 20px;
}

#u7460-8
{
	position: absolute;
	width: 60px;
	min-height: 336px;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 45px;
}

#u7460-8popup
{
	z-index: 46;
}

#u7457-8
{
	position: absolute;
	width: 59px;
	min-height: 340px;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 41px;
	left: 561px;
}

#u7457-8popup
{
	z-index: 54;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u7440-10
{
	z-index: 17;
	width: 396px;
	min-height: 96px;
	top: -47px;
	margin-bottom: -47px;
	position: relative;
}

#u7440-2
{
	font-size: 28px;
	line-height: 34px;
}

#u7440
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u7440-4,#u7440-6,#u7440-8
{
	font-size: 15px;
	line-height: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

