.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u3843-4,#u3843-6,#u3843-8
{
	font-family: quicksand-i4, sans-serif;
}

#u3843-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u3917,#u3917-2
{
	font-family: muli-n3, sans-serif;
}

#u3917-5,#u3917-8,#u3917-11,#u3917-14,#u3917-17,#u3917-20
{
	font-family: quicksand-n3, sans-serif;
}

#u3843,#u3917-4,#u3917-7,#u3917-10,#u3917-13,#u3917-16,#u3917-19,#u3917-22,#u3841-4,#u3846-4,#u3908-4,#u3906-4,#u3907-4,#u3909-4,#u3911-4,#u3912-4,#u3910-3,#u3905-4
{
	font-family: quicksand-n4, sans-serif;
}

