.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u13266-4,#u13266-6,#u13266-8
{
	font-family: quicksand-i4, sans-serif;
}

#u13265,#u13265-2
{
	font-family: muli-n3, sans-serif;
}

#u13265-5,#u13265-8,#u13265-10
{
	font-family: quicksand-n3, sans-serif;
}

#u13267-13,#u13266,#u13265-4,#u13265-6,#u13426-4,#u13333-4,#u13342-4,#u13324-4,#u13351-4,#u13360-4,#u13263-4
{
	font-family: quicksand-n4, sans-serif;
}

