.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u4676-4,#u4676-6,#u4676-8
{
	font-family: quicksand-i4, sans-serif;
}

#u4677,#u4677-2
{
	font-family: muli-n3, sans-serif;
}

#u4677-5,#u4677-9,#u4677-12,#u4677-16
{
	font-family: quicksand-n3, sans-serif;
}

#u4676,#u4677-4,#u4677-8,#u4677-7,#u4677-11,#u4677-15,#u4677-14,#u4677-19,#u4677-18,#u4680-5,#u4728-4,#u4726-4,#u4727-4,#u4729-4,#u4666-4,#u4668-4,#u4669-4,#u4667-4,#u4730-4
{
	font-family: quicksand-n4, sans-serif;
}

