.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u603-4,#u603-6,#u603-8
{
	font-family: quicksand-i4, sans-serif;
}

#u603-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u2788,#u2788-2
{
	font-family: muli-n3, sans-serif;
}

#u2788-5,#u2788-8,#u2788-11,#u2788-14,#u2788-17,#u2788-20
{
	font-family: quicksand-n3, sans-serif;
}

#u603,#u2788-4,#u2788-7,#u2788-10,#u2788-13,#u2788-16,#u2788-19,#u2788-22,#u2795-4,#u2814-4,#u892-4,#u1208-4,#u1223-4,#u1238-4,#u1193-4,#u1253-4,#u1268-4,#u1281-4
{
	font-family: quicksand-n4, sans-serif;
}

