.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u19890-4,#u19890-6,#u19890-7,#u19890-10,#u19890-11
{
	font-family: quicksand-i4, sans-serif;
}

#u19890,#u19890-9,#u19891-2
{
	font-family: quicksand-n4, sans-serif;
}

#u19891-12,#u19891-18,#u19891-24,#u19891-26,#u19891-35,#u19891-41,#u19891-51,#u19891-55,#u19891-56,#u19891-60,#u19891-61
{
	font-family: quicksand-n3, sans-serif;
}

