.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u3814-4,#u3814-6,#u3814-8
{
	font-family: quicksand-i4, sans-serif;
}

#u3814-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u3810,#u3810-2
{
	font-family: muli-n3, sans-serif;
}

#u3810-5,#u3810-8,#u3810-11,#u3810-14,#u3810-17,#u3810-20
{
	font-family: quicksand-n3, sans-serif;
}

#u3814,#u3810-4,#u3810-7,#u3810-10,#u3810-13,#u3810-16,#u3810-19,#u3810-22,#u3815-4,#u3811-4,#u3782-4,#u3786-4,#u3785-4,#u3781-4,#u3787-4,#u3780-4,#u3784-3,#u3783-4
{
	font-family: quicksand-n4, sans-serif;
}

