.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u4019-4,#u4019-6,#u4019-8
{
	font-family: quicksand-i4, sans-serif;
}

#u4019-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u3945,#u3945-2
{
	font-family: muli-n3, sans-serif;
}

#u3945-5,#u3945-8,#u3945-11,#u3945-14,#u3945-17,#u3945-20
{
	font-family: quicksand-n3, sans-serif;
}

#u4019,#u3945-4,#u3945-7,#u3945-10,#u3945-13,#u3945-16,#u3945-19,#u3945-22,#u4017-4,#u4018-4,#u3976-4,#u3973-4,#u3975-4,#u3970-4,#u3974-4,#u3971-4,#u3972-3,#u3977-4
{
	font-family: quicksand-n4, sans-serif;
}

