.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u7142
{
	font-family: quicksand-n4, sans-serif;
}

#u7142-4,#u7142-6,#u7142-8
{
	font-family: quicksand-i4, sans-serif;
}

