.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u19890-4,#u19890-6,#u19890-7,#u19890-10,#u19890-11
{
	font-family: quicksand-i4, sans-serif;
}

#u19890,#u19890-9,#u19891-2
{
	font-family: quicksand-n4, sans-serif;
}

#u19891-6,#u19891-8,#u19891-10,#u19891-12,#u19891-14,#u19891-16,#u19891-18,#u19891-22,#u19891-23,#u19891-27,#u19891-28
{
	font-family: quicksand-n3, sans-serif;
}

