.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u4051-4,#u4051-6,#u4051-8
{
	font-family: quicksand-i4, sans-serif;
}

#u4051-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u4048,#u4048-2
{
	font-family: muli-n3, sans-serif;
}

#u4048-5,#u4048-8,#u4048-11,#u4048-14,#u4048-17,#u4048-20
{
	font-family: quicksand-n3, sans-serif;
}

#u4051,#u4048-4,#u4048-7,#u4048-10,#u4048-13,#u4048-16,#u4048-19,#u4048-22,#u4045-4,#u4046-4,#u4078-4,#u4073-4,#u4075-4,#u4074-4,#u4076-4,#u4071-4,#u4077-3,#u4072-4
{
	font-family: quicksand-n4, sans-serif;
}

