.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u2964-4,#u2964-6,#u2964-8
{
	font-family: quicksand-i4, sans-serif;
}

#u2965,#u2965-2
{
	font-family: muli-n3, sans-serif;
}

#u2965-5,#u2965-6,#u2965-9,#u2965-12,#u2965-15
{
	font-family: quicksand-n3, sans-serif;
}

#u2964,#u2965-4,#u2965-8,#u2965-11,#u2965-14,#u2965-18,#u2965-17,#u6623-4,#u6638-4,#u6653-4,#u6668-4,#u6683-4,#u3131-6,#u2978-4,#u2979-4,#u3140-4
{
	font-family: quicksand-n4, sans-serif;
}

