.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u7978-4,#u7978-6,#u7978-8
{
	font-family: quicksand-i4, sans-serif;
}

#u7979-3,#u7979-6,#u7979-11
{
	font-family: quicksand-n3, sans-serif;
}

#u7978,#u7979-16,#u8033-14,#u8062-4,#u8077-4,#u8092-4,#u8107-4,#u8122-4,#u8034-4
{
	font-family: quicksand-n4, sans-serif;
}

