.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u7817-8,#u24545,#u24560,#u24566
{
	font-family: quicksand-n3, sans-serif;
}

#u24148,#u24148-67,#u24058-20,#u24058-21,#u24058-22,#u24058-24,#u24058-26
{
	font-family: quicksand-n7, sans-serif;
}

#u24288,#u24287,#u24148-2,#u24148-4,#u24148-6,#u24148-9,#u24148-14,#u24148-17,#u24148-22,#u24148-25,#u24148-28,#u24148-31,#u24148-34,#u24148-37,#u24148-40,#u24148-41,#u24148-43,#u24148-46,#u24148-49,#u24148-52,#u24148-55,#u24148-56,#u24148-58,#u24148-61,#u24148-64,#u24148-65,#u24148-69,#u24148-71,#u24148-73,#u24148-74,#u24058-2,#u24058-4,#u24058-9,#u24058-10,#u24058-11,#u24058-12,#u24058-13,#u24058-14,#u24058-15,#u24058-16,#u24058-17,#u24058-18,#u24058-19,#u24058-32,#u24058-35,#u24058-36,#u24058-38,#u24058-40,#u24058-41,#u24166,#u24208,#u24214,#u24232,#u24238,#u24256,#u24262,#u24304,#u24337,#u24220,#u24226,#u24277,#u24557
{
	font-family: quicksand-n4, sans-serif;
}

