.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u15062-4,#u15062-6,#u15062-8
{
	font-family: quicksand-i4, sans-serif;
}

#u15063
{
	font-family: muli-n3, sans-serif;
}

#u15063-17,#u15063-19,#u15063-21,#u15101,#u15101-2,#u15233,#u15494,#u15494-2
{
	font-family: quicksand-n3, sans-serif;
}

#u14894-4,#u15247-7,#u15062,#u15063-2,#u15063-5,#u15063-10,#u15063-15,#u15063-16,#u15063-18,#u15063-20,#u15063-22,#u15063-23,#u15063-24,#u15101-9,#u15102-12,#u15233-6,#u15494-7,#u15442-16,#u15679-4,#u15682-4
{
	font-family: quicksand-n4, sans-serif;
}

