.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u3389-4,#u3389-6,#u3389-8
{
	font-family: quicksand-i4, sans-serif;
}

#u3390-3,#u3390-6
{
	font-family: quicksand-n3, sans-serif;
}

#u3389,#u3390-11,#u3391-5
{
	font-family: quicksand-n4, sans-serif;
}

