.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u8407-4,#u8407-6,#u8407-8
{
	font-family: quicksand-i4, sans-serif;
}

#u8408-3
{
	font-family: quicksand-n3, sans-serif;
}

#u8290-4,#u8288-4,#u8289-4,#u8291-4,#u8376-4,#u8395-4,#u8407,#u8408-9,#u8408-5,#u8275-11,#u9666-4,#u9642-4,#u9612-4,#u9627-4,#u9580-4
{
	font-family: quicksand-n4, sans-serif;
}

