.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u4624-4,#u4624-6,#u4624-8
{
	font-family: quicksand-i4, sans-serif;
}

#u4624-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u4626,#u4626-2
{
	font-family: muli-n3, sans-serif;
}

#u4624,#u4625-4,#u4626-4,#u4626-7,#u4626-10,#u4626-13,#u4626-16,#u4626-19
{
	font-family: quicksand-n4, sans-serif;
}

#u4626-5,#u4626-8,#u4626-11,#u4626-14,#u4626-17
{
	font-family: quicksand-n3, sans-serif;
}

