.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u3389-4,#u3389-6,#u3389-8
{
	font-family: quicksand-i4, sans-serif;
}

#u3389-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u3390,#u3390-2
{
	font-family: muli-n3, sans-serif;
}

#u3390-5,#u3390-8
{
	font-family: quicksand-n3, sans-serif;
}

#u3389,#u3390-4,#u3390-7,#u3390-10,#u3390-11,#u3391-5
{
	font-family: quicksand-n4, sans-serif;
}

