.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u11446-4,#u11446-6,#u11446-8,#u11446-9,#u11446-10,#u11446-16,#u11446-23
{
	font-family: quicksand-i4, sans-serif;
}

#u11447,#u11447-2
{
	font-family: muli-n3, sans-serif;
}

#u11446-18,#u11446-20,#u11446-22,#u11447-5,#u11447-7,#u11447-9,#u11447-10,#u11447-14,#u11447-16,#u11447-18,#u11447-20,#u11447-22
{
	font-family: quicksand-n3, sans-serif;
}

#u11550-11,#u11446,#u11447-4,#u11447-6,#u11447-8,#u11447-13,#u11447-19,#u11447-21,#u11447-23,#u11447-24,#u11447-25,#u12188-4,#u12173-4,#u12213-4,#u12307-4,#u12231-4,#u12245-4,#u12283-3,#u12259-4,#u12342-4,#u12121-4,#u11451-4
{
	font-family: quicksand-n4, sans-serif;
}

