.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u4324-4,#u4324-6,#u4324-8
{
	font-family: quicksand-i4, sans-serif;
}

#u4324-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u4319,#u4319-2
{
	font-family: muli-n3, sans-serif;
}

#u4319-5,#u4319-8,#u4319-11,#u4319-14,#u4319-17,#u4319-20
{
	font-family: quicksand-n3, sans-serif;
}

#u4324,#u4319-4,#u4319-7,#u4319-10,#u4319-13,#u4319-16,#u4319-19,#u4319-22,#u4321-4,#u4325-4,#u4259-4,#u4254-4,#u4253-4,#u4257-4,#u4255-4,#u4256-4,#u4258-3,#u4260-4
{
	font-family: quicksand-n4, sans-serif;
}

