.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u8485-3
{
	font-family: quicksand-n3, sans-serif;
}

#u8463-4,#u8461-4,#u8464-4,#u8483,#u8485-9,#u8485-5,#u8441-10,#u8709-4,#u8691-4,#u10549-4,#u10564-4
{
	font-family: quicksand-n4, sans-serif;
}

#u8483-4,#u8483-6,#u8483-8,#u8484-2
{
	font-family: quicksand-i4, sans-serif;
}

