.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u19890-4,#u19890-6,#u19890-7,#u19890-10,#u19890-11
{
	font-family: quicksand-i4, sans-serif;
}

#u19890,#u19890-9,#u19891-2
{
	font-family: quicksand-n4, sans-serif;
}

#u19891-8,#u24413,#u24443,#u19891-11,#u24449,#u19891-15,#u24419,#u24485,#u19891-18,#u24497,#u19891-22,#u24455,#u24461,#u19891-26,#u24467,#u24503,#u19891-31,#u24479,#u24473,#u19891-35,#u24509,#u24515,#u19891-39,#u19891-40,#u19891-44,#u24521,#u24527,#u19891-45
{
	font-family: quicksand-n3, sans-serif;
}

