.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u152,#u153,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u4153-4,#u4153-6,#u4153-8
{
	font-family: quicksand-i4, sans-serif;
}

#u4153-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u4152,#u4152-2
{
	font-family: muli-n3, sans-serif;
}

#u4152-5,#u4152-8,#u4152-11,#u4152-14,#u4152-17,#u4152-20
{
	font-family: quicksand-n3, sans-serif;
}

#u4153,#u4152-4,#u4152-7,#u4152-10,#u4152-13,#u4152-16,#u4152-19,#u4152-22,#u4150-4,#u4224-4,#u4216-4,#u4221-4,#u4218-4,#u4217-4,#u4222-4,#u4220-4,#u4219-3,#u4223-4
{
	font-family: quicksand-n4, sans-serif;
}

