.Character-Style
{
	font-family: muli-n3, sans-serif;
}

#u153,#u7869,#u7871,#u154
{
	font-family: quicksand-n4, sans-serif;
}

#u3204-3,#u3204-6,#u3204-8,#u3204-10
{
	font-family: quicksand-i4, sans-serif;
}

#u3204-11
{
	font-family: pt-sans-n4, sans-serif;
}

#u3205,#u3205-2
{
	font-family: muli-n3, sans-serif;
}

#u3205-5,#u3205-8
{
	font-family: quicksand-n3, sans-serif;
}

#u3204,#u3205-4,#u3205-7,#u3205-10,#u3205-11,#u3205-12,#u3205-13,#u3206-7,#u4808-4,#u4853-4,#u4823-4,#u4838-4,#u4793-4,#u4770-4
{
	font-family: quicksand-n4, sans-serif;
}

