.version.index /* version checker */
{
	color: #000013;
	background-color: #2D5F64;
}

.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 419px;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 357px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u153-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 52px;
}

#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 188px;
}

#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#pu7586
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 54px;
}

#u7586
{
	z-index: 247;
	width: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../images/new1mail.png") no-repeat left top;
}

#u7586:hover
{
	width: 21px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/new1mail-u7586-r-fr.png") no-repeat left top;
}

#u7588
{
	z-index: 249;
	width: 8px;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 35px;
	background: transparent url("../images/new2fb.png") no-repeat left top;
}

#u7588:hover
{
	width: 8px;
	height: 17px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/new2fb-u7588-r-fr.png") no-repeat left top;
}

#u7590
{
	z-index: 250;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 57px;
	background: transparent url("../images/new3insta.png") no-repeat left top;
}

#u7590:hover
{
	width: 16px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/new3insta-u7590-r-fr.png") no-repeat left top;
}

#u7592
{
	z-index: 252;
	width: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 87px;
	background: transparent url("../images/new4vimeo.png") no-repeat left top;
}

#u7592:hover
{
	width: 15px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
	background: transparent url("../images/new4vimeo-u7592-r-fr.png") no-repeat left top;
}

#u7594
{
	z-index: 254;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 113px;
	background: transparent url("../images/new5pin.png") no-repeat left top;
}

#u7594:hover
{
	width: 17px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/new5pin-u7594-r-fr.png") no-repeat left top;
}

#u7596
{
	z-index: 256;
	width: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 142px;
	background: transparent url("../images/new6twitter.png") no-repeat left top;
}

#u7596:hover
{
	width: 18px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	background: transparent url("../images/new6twitter-u7596-r-fr.png") no-repeat left top;
}

#u7586_img:hover,#u7590_img:hover,#u7592_img:hover,#u7594_img:hover,#u7596_img:hover
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u7873
{
	z-index: 258;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u7873:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 17px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu15340
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 42px;
}

#u15340
{
	z-index: 260;
	width: 866px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu15347
{
	width: 0.01px;
	margin-right: -10000px;
}

#u15347
{
	z-index: 264;
	width: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u15353-7
{
	z-index: 295;
	width: 396px;
	background-color: transparent;
	font-size: 19px;
	line-height: 26px;
	margin-left: 14px;
	position: relative;
}

#u15353
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
	line-height: 26px;
}

#u15353-2
{
	font-size: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	line-height: 19px;
}

#pu15348
{
	width: 0.01px;
	margin-top: 43px;
}

#u15348
{
	z-index: 265;
	width: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u15350-10
{
	z-index: 277;
	width: 468px;
	min-height: 205px;
	background-color: transparent;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

#u15350-2
{
	font-size: 19px;
	line-height: 26px;
}

#u15350-3
{
	font-size: 25px;
	line-height: 50px;
}

#u15350-5
{
	font-size: 19px;
	line-height: 23px;
}

#u15353-4,#u15350,#u15350-4
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u15350-8
{
	font-size: 15px;
	line-height: 45px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u15350-6
{
	font-family: quicksand, sans-serif;
	font-weight: 700;
}

#u15349-11
{
	z-index: 266;
	width: 404px;
	min-height: 86px;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-top: 21px;
	position: relative;
}

#u15349-3
{
	font-size: 12px;
	line-height: 18px;
}

#u15349,#u15349-2
{
	text-decoration: underline;
	color: #1E1E1E;
}

#u15349-5
{
	font-size: 18px;
	line-height: 27px;
}

#u15349-4
{
	color: #1E1E1E;
	font-style: italic;
}

#u15349-8
{
	font-size: 18px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u15349-6
{
	color: #1E1E1E;
	line-height: 27px;
}

#u15349-7
{
	font-size: 11px;
	color: #1E1E1E;
	line-height: 17px;
}

#u15349-9
{
	line-height: 21px;
}

#u15352-4
{
	z-index: 287;
	width: 81px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	padding: 1px;
	text-align: center;
	line-height: 14px;
	color: #000000;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 23px;
}

#u15352-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 22px;
	width: 81px;
	margin: 289px -10000px 0px 0px;
}

#u15352-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 22px;
	width: 81px;
	margin: 289px -10000px 0px 0px;
}

#u15352-4:hover p,#u15352-4:hover span,#u15352-4:active p,#u15352-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u15352
{
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 18px;
}

#u15351-4
{
	z-index: 291;
	width: 354px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	padding: 1px;
	text-align: center;
	line-height: 14px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u15351-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 29px;
	width: 354px;
	margin: 90px -10000px 0px 0px;
}

#u15351-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 29px;
	width: 354px;
	margin: 90px -10000px 0px 0px;
}

#u15351-4:hover p,#u15351-4:hover span,#u15351-4:active p,#u15351-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u15351
{
	font-size: 25px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	line-height: 25px;
}

#u15341
{
	z-index: 302;
	width: 40px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	left: 410px;
}

#pu15344
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 521px;
}

#u15344
{
	z-index: 261;
	width: 335px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15345
{
	z-index: 262;
	width: 335px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u15345_clip
{
	overflow: hidden;
	width: 335px;
	height: 320px;
}

#u15345_img
{
	margin-top: -14px;
	margin-bottom: -1px;
}

#u15343-8
{
	z-index: 303;
	width: 345px;
	background-color: transparent;
	line-height: 21px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-top: 37px;
	position: relative;
}

#u15343,#u15343-3,#u15343-5
{
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u15546
{
	z-index: 325;
	width: 82px;
	height: 79px;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 388px;
}

.ie #u15546
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#ppu13235
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 69px;
}

#u13235
{
	z-index: 215;
	width: 400px;
	height: 240px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #E2E2E2 url("../images/lickit1_sm.gif") no-repeat center top;
	background-size: cover;
}

#u13236-7
{
	z-index: 217;
	width: 400px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u13236-7:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
}

#u13236-7:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u11668
{
	z-index: 311;
	width: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11677-7
{
	z-index: 313;
	width: 400px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u11677-7:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
}

#u11677-7:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#project_home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#ppu14375
{
	width: 0.01px;
	margin-left: 25px;
}

#pu13235,#pu14375
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 400px;
}

#u14375
{
	z-index: 216;
	width: 400px;
	height: 240px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #E2E2E2 url("../images/makingofdilation-41-u14375-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u13235:hover,#u14375:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 400px;
	height: 240px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u14374-7
{
	z-index: 231;
	width: 400px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u14374-7:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
}

#u14374-7:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u14388
{
	z-index: 238;
	width: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14388_img
{
	margin: -66px -155px -102px -170px;
}

#u13629-7
{
	z-index: 240;
	width: 400px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u13629-7:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
}

#u13629-7:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u14418
{
	z-index: 20;
	width: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u14388_clip,#u14418_clip
{
	overflow: hidden;
	width: 400px;
	height: 240px;
}

#u14418_img
{
	margin-left: -51px;
	margin-top: -1px;
	margin-right: -51px;
}

#u11401
{
	z-index: 22;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 607px;
	left: 80px;
	background: #E2E2E2 url("../images/keyviscursive-u11401-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u11401:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 320px;
	height: 160px;
	min-height: 0px;
	margin: 607px -10000px 0px 0px;
	background-size: cover;
}

#u8424
{
	z-index: 23;
	width: 320px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 768px;
	left: 80px;
	background: #E2E2E2 url("../images/thumbnailmelody.jpg") no-repeat center top;
	background-size: cover;
}

#u8424:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 320px;
	min-height: 0px;
	margin: 768px -10000px 0px 0px;
	background-size: cover;
}

#u12744-6
{
	z-index: 32;
	width: 320px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 64px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u12744-6:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 96px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
}

#u12744-2
{
	font-size: 24px;
	line-height: 29px;
}

#u7970
{
	z-index: 24;
	width: 480px;
	height: 240px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 447px;
	left: 400px;
	background: #E2E2E2 url("../images/thumbnailsleeptalkinstallation.jpg") no-repeat center top;
	background-size: cover;
}

#u7970:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 480px;
	height: 240px;
	min-height: 0px;
	margin: 447px -10000px 0px 0px;
	background-size: cover;
}

#u8228
{
	z-index: 25;
	width: 320px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 447px;
	left: 80px;
	background: #E2E2E2 url("../images/thumbnaildisturbing.jpg") no-repeat center bottom;
	background-size: cover;
}

#u8228:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 320px;
	min-height: 0px;
	margin: 447px -10000px 0px 0px;
	background-size: cover;
}

#u8228:active
{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #E2E2E2;
	width: 320px;
	min-height: 0px;
	margin: 447px -10000px 0px 0px;
	background-size: cover;
}

#u8227-6
{
	z-index: 26;
	width: 320px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 64px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u12744-6:active,#u8227-6:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 96px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
}

#u11575-6
{
	z-index: 38;
	width: 320px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 64px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 608px;
	left: 80px;
	-pie-background: rgba(0,0,0,0.4);
}

#u11575-6:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 96px;
	width: 320px;
	margin: 608px -10000px 0px 0px;
}

#u11575-6:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 96px;
	width: 320px;
	margin: 608px -10000px 0px 0px;
}

#u7971-20
{
	z-index: 44;
	width: 480px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 447px;
	left: 400px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7971-20:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 480px;
	margin: 447px -10000px 0px 0px;
}

#u7971-20:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 480px;
	margin: 447px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7971-12
{
	letter-spacing: -2px;
}

#u7971-14
{
	letter-spacing: -1px;
}

#u7569
{
	z-index: 85;
	width: 480px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 688px;
	left: 400px;
	background: #E2E2E2 url("../images/thumbnail_revork.jpg") no-repeat center top;
	background-size: cover;
}

#u7569:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 480px;
	min-height: 0px;
	margin: 688px -10000px 0px 0px;
	background-size: cover;
}

#u7578-9
{
	z-index: 86;
	width: 480px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7578-9:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 480px;
	margin: 0px -10000px 0px 0px;
}

#u7578-9:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 480px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u11420
{
	z-index: 191;
	width: 400px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 80px;
	background: #E2E2E2 url("../images/screen%20shot%202015-03-13%20at%2053658%20am%20copy.png") no-repeat center top;
	background-size: cover;
}

#u11420:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	width: 400px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u11419-11
{
	z-index: 192;
	width: 400px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u11419-11:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
}

#u11419-11:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7971-4,#u7971-6,#u7971-8,#u7971-10,#u11419-4,#u11419-6
{
	letter-spacing: 1px;
}

#u13162
{
	z-index: 213;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
}

#u14372-7
{
	z-index: 224;
	width: 400px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 480px;
	-pie-background: rgba(0,0,0,0.4);
}

#u14372-7:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
}

#u14372-7:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 400px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u13236-2,#u11677-2,#u14374-2,#u13629-2,#u7971-2,#u11419-2,#u14372-2
{
	font-size: 24px;
	line-height: 29px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#pu14418,#pu7602-3
{
	width: 0.01px;
	margin-left: -55px;
}

#u7602-3
{
	z-index: 64;
	width: 960px;
	min-height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 60px;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 469px;
}

#u7602-3:hover
{
	background-color: #F2F2F2;
	background-color: rgba(0,0,0,0.05);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 90px;
	padding-bottom: 0px;
	min-height: 150px;
	width: 960px;
	margin: 469px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.05);
}

#u7602-3:hover p
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u7601
{
	z-index: 67;
	width: 960px;
	height: 239px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 469px;
	background: #E2E2E2 url("../images/reel_button_web.png") no-repeat center center;
	background-size: cover;
}

#u7601:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 960px;
	height: 239px;
	min-height: 0px;
	margin: 469px -10000px 0px 0px;
	background-size: cover;
}

#u7552
{
	z-index: 68;
	width: 320px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 560px;
}

#u7554-6
{
	z-index: 70;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 560px;
}

#u7554-6:hover
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 320px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7554-6:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 320px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7554-6:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u7554-2
{
	font-size: 18px;
	line-height: 22px;
	color: #8FE7C2;
}

#u7554-4
{
	font-size: 14px;
	color: #FFFFFF;
	font-style: italic;
}

#u7584
{
	z-index: 76;
	width: 320px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 560px;
	background: #E2E2E2 url("../images/logocrop.jpg") no-repeat center center;
	background-size: cover;
}

#u8195-7
{
	z-index: 77;
	width: 320px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 64px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8227-6:active,#u8195-7:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 96px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
}

#u7559
{
	z-index: 84;
	width: 480px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 80px;
	background: #E2E2E2 url("../images/musketeers_4.jpg") no-repeat center center;
	background-size: cover;
}

#u7559:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 480px;
	min-height: 0px;
	margin: 236px -10000px 0px 0px;
	background-size: cover;
}

#u8193-8
{
	z-index: 95;
	width: 480px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8193-8:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 480px;
	margin: 4px -10000px 0px 0px;
}

#u8193-8:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 480px;
	margin: 4px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7572
{
	z-index: 109;
	width: 320px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 560px;
	background: #E2E2E2 url("../images/thumbnail_lonelylego.png") no-repeat center bottom;
	background-size: cover;
}

#u7572:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u7572:active
{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #E2E2E2;
	width: 320px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u7580-6
{
	z-index: 110;
	width: 320px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 64px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8195-7:active,#u7580-6:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 96px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
}

#u7580-6:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 96px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
}

#u12744-4,#u8227-4,#u11575-4,#u8195-4,#u8195-5,#u7580-4
{
	font-size: 14px;
	font-style: italic;
}

#u7557
{
	z-index: 116;
	width: 320px;
	height: 162px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 683px;
	left: 80px;
	background: #E2E2E2 url("../images/25_1-u7557-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u7557:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 320px;
	height: 162px;
	min-height: 0px;
	margin: 683px -10000px 0px 0px;
	background-size: cover;
}

#u7563
{
	z-index: 118;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 843px;
	left: 400px;
	background: #E2E2E2 url("../images/enl_logo_mvnightmare_crop.jpg") no-repeat center center;
	background-size: cover;
}

#u7566
{
	z-index: 121;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 683px;
	left: 400px;
	background: #E2E2E2 url("../images/thunbnail_pijika.jpg") no-repeat center top;
	background-size: cover;
}

#u7566:hover
{
	width: 320px;
	height: 160px;
	min-height: 0px;
	margin: 683px -10000px 0px 0px;
	background: #E9E9E9 url("../images/thunbnail_pijika-u7566-r-fr.png") no-repeat center top;
	background-color: rgba(226,226,226,0.75);
	background-size: cover;
}

#u7567
{
	z-index: 122;
	width: 160px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 683px;
	left: 720px;
	background: #E2E2E2 url("../images/1081009_11.jpg") no-repeat center center;
	background-size: cover;
}

#u7567:hover
{
	width: 160px;
	height: 320px;
	min-height: 0px;
	margin: 683px -10000px 0px 0px;
	background: #E9E9E9 url("../images/1081009_11-u7567-r-fr.png") no-repeat center center;
	background-color: rgba(226,226,226,0.75);
	background-size: cover;
}

#u7568
{
	z-index: 123;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 843px;
	left: 80px;
	background: #66C89F url("../images/screenshot%202013-12-15%20032653.jpg") no-repeat right center;
	background-size: cover;
}

#u7568:hover
{
	width: 320px;
	height: 160px;
	min-height: 0px;
	margin: 843px -10000px 0px 0px;
	background: #E2E2E2 url("../images/screenshot%202013-12-15%20032653.jpg") no-repeat right center;
	background-size: cover;
}

#u7579-6
{
	z-index: 125;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 683px;
	left: 400px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7579-6:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 683px -10000px 0px 0px;
}

#u7579-6:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 683px -10000px 0px 0px;
}

#u7579-6:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u8179-6
{
	z-index: 131;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 685px;
	left: 80px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8179-6:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 685px -10000px 0px 0px;
}

#u8179-6:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 685px -10000px 0px 0px;
}

#u8179-6:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u8183-6
{
	z-index: 137;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 844px;
	left: 80px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8183-6:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 844px -10000px 0px 0px;
}

#u8183-6:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 844px -10000px 0px 0px;
}

#u8183-6:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u8191-11
{
	z-index: 159;
	width: 160px;
	min-height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 683px;
	left: 720px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8191-11:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 250px;
	width: 160px;
	margin: 683px -10000px 0px 0px;
}

#u8191-11:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 250px;
	width: 160px;
	margin: 683px -10000px 0px 0px;
}

#u8191-11:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u8191-7,#u8191-9
{
	font-size: 13px;
	line-height: 16px;
	font-style: italic;
}

#u7582-7
{
	z-index: 177;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 842px;
	left: 400px;
}

#u7582-7:hover
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 842px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7582-7:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 842px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7582-7:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u7571
{
	z-index: 203;
	width: 480px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 80px;
	background: #E2E2E2 url("../images/kids6_.jpg") no-repeat left bottom;
	background-size: cover;
}

#u7571:hover
{
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 480px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u12749-9
{
	z-index: 204;
	width: 480px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u12749-9:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 480px;
	margin: 0px -10000px 0px 0px;
}

#u12749-9:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 95px;
	padding-bottom: 0px;
	min-height: 145px;
	width: 480px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u13236-7:active p,#u11677-7:active p,#u14374-7:active p,#u13629-7:active p,#u12744-6:active p,#u8227-6:active p,#u11575-6:active p,#u7971-20:active p,#u7971-20:active span,#u7578-9:active p,#u11419-11:active p,#u11419-11:active span,#u14372-7:active p,#u8195-7:active p,#u8193-8:active p,#u7580-6:active p,#u12749-9:active p
{
	color: #8FE7C2;
	visibility: inherit;
}

#u13236-4,#u11677-4,#u14374-4,#u13629-4,#u7971-16,#u7578-4,#u11419-8,#u14372-4,#u8193-4,#u12749-4
{
	font-size: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u7971-17,#u7578-2,#u7578-5,#u7578-6,#u8193-2,#u8193-5,#u12749-2,#u12749-5,#u12749-6
{
	font-size: 26px;
	line-height: 31px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u13236-5,#u11677-5,#u14374-5,#u13629-5,#u7971-18,#u7578-7,#u11419-9,#u14372-5,#u8193-6,#u12749-7
{
	font-size: 25px;
	line-height: 30px;
	font-family: raleway, sans-serif;
	font-weight: 100;
}

#pppu7565
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: -2px;
}

#ppu7565
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 160px;
}

#u7565
{
	z-index: 120;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #E2E2E2 url("../images/thumbnail_redride.jpg") no-repeat center center;
	background-size: cover;
}

#u8187-7
{
	z-index: 184;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u8187-7:hover
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8187-7:active
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8187-7:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u7570
{
	z-index: 124;
	width: 320px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #E2E2E2 url("../images/thunbnail_60.jpg") no-repeat center center;
	background-size: cover;
}

#u7570:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 320px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u7581-7
{
	z-index: 143;
	width: 320px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7581-7:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 91px;
	width: 320px;
	margin: -1px -10000px 0px 0px;
}

#u7581-7:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 91px;
	width: 320px;
	margin: -1px -10000px 0px 0px;
}

#u7581-7:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#ppu7564
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 480px;
}

#u7564
{
	z-index: 119;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #66C89F url("../images/thumbnail_stamp.jpg") no-repeat left center;
	background-size: cover;
}

#u8189-7
{
	z-index: 170;
	width: 320px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	color: #FFFFFF;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8189-7:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 91px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
}

#u8189-7:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 91px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
}

#u8189-7:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u8227-2,#u11575-2,#u8195-2,#u7580-2,#u7579-2,#u8179-2,#u8183-2,#u8191,#u8191-2,#u8191-3,#u8191-5,#u7582-2,#u7582-5,#u8187-2,#u8187-5,#u7581-2,#u7581-5,#u8189-2,#u8189-5
{
	font-size: 18px;
	line-height: 22px;
}

#pu7565,#pu7564,#pu7598
{
	width: 0.01px;
}

#u7598
{
	z-index: 103;
	width: 218px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 51px;
}

#u7600-4
{
	z-index: 105;
	width: 320px;
	min-height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 60px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	letter-spacing: 5px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u7600-4:hover
{
	padding-top: 100px;
	padding-bottom: 0px;
	min-height: 143px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
}

#u7600-4:active
{
	padding-top: 100px;
	padding-bottom: 0px;
	min-height: 143px;
	width: 320px;
	margin: 0px -10000px 0px 0px;
}

#u7600-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	letter-spacing: 5px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u7600-4:active p
{
	color: #8FE7C2;
	visibility: inherit;
	letter-spacing: 5px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u7562
{
	z-index: 117;
	width: 160px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	background: #FFFFFF url("../images/tee2012_1fox_goodday%20copy.jpg") no-repeat center center;
	background-size: contain;
}

#u8190-9
{
	z-index: 150;
	width: 160px;
	min-height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8190-9:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 250px;
	width: 160px;
	margin: 2px -10000px 0px 0px;
}

#u8190-9:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 250px;
	width: 160px;
	margin: 2px -10000px 0px 0px;
}

#u8190-9:hover p,#u8190-9:hover span
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u7554-6:active p,#u7579-6:active p,#u8179-6:active p,#u8183-6:active p,#u8191-11:active p,#u7582-7:active p,#u8187-7:active p,#u7581-7:active p,#u8189-7:active p,#u8190-9:active p,#u8190-9:active span
{
	color: #8FE7C2;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u15353-3,#u15352-2,#u15351-2,#u8190-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7579-4,#u8179-4,#u8183-4,#u7582-4,#u8187-4,#u7581-4,#u8189-4,#u8190-6
{
	font-size: 12px;
	line-height: 14px;
	font-style: italic;
}

#u15515-4
{
	z-index: 320;
	width: 286px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 297px;
	margin-top: 17px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

