.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 23px;
	margin-bottom: 62px;
}

#u281
{
	z-index: 15;
	width: 122px;
	margin-left: 419px;
}

#u477
{
	z-index: 53;
	width: 200px;
	position: relative;
	margin-right: -10000px;
}

#u446
{
	z-index: 54;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u451
{
	z-index: 56;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u456
{
	z-index: 58;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u461
{
	z-index: 60;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u466
{
	z-index: 62;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u471
{
	z-index: 64;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u152-4
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 3px;
	left: 316px;
}

#u153-4
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 3px;
	left: 361px;
}

#u154-4
{
	z-index: 10;
	margin-right: -10000px;
	margin-top: 3px;
	left: 406px;
}

#u196
{
	z-index: 14;
	width: 152px;
	height: 20px;
	margin-right: -10000px;
	left: 648px;
}

#pu294-4
{
	width: 0.01px;
	margin-left: 318px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u294-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u295-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#u296-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u297-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 253px;
}

#ppu216
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 23px;
	position: relative;
}

#u216
{
	z-index: 19;
	width: 480px;
	height: 240px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #66C89F url("../images/screenshot%202013-12-15%20024038-u216-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u216:hover
{
	margin: 0px;
	background: #D2EFE3 url("../images/screenshot%202013-12-15%20024038-u216-r-fr.png") no-repeat center top;
	background-color: rgba(102, 200, 159, 0.29);
	background-size: cover !important;
}

#u217
{
	z-index: 20;
	width: 480px;
	height: 240px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #6C4C63 url("../images/25_1-u217-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u217:hover
{
	margin: 0px;
	background: #D2C9D0 url("../images/25_1-u217-r-fr.png") no-repeat center center;
	background-color: rgba(108, 76, 99, 0.3);
	background-size: cover !important;
}

#ppu212
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u212
{
	z-index: 32;
	width: 160px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #F7C360 url("../images/1lonelylego_rainbow_keyvisual-u212-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u212:hover
{
	margin: 0px -10000px 0px 0px;
	background: #FCEDCF url("../images/1lonelylego_rainbow_keyvisual-u212-r-fr.png") no-repeat center center;
	background-color: rgba(247, 195, 96, 0.3);
	background-size: cover !important;
}

#u211
{
	z-index: 17;
	width: 160px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 160px;
	background: #66C89F url("../images/screenshot%202013-12-15%20032653-u211-fr.jpg") no-repeat right center;
	background-size: cover !important;
}

#u211:hover
{
	margin: 0px -10000px 0px 0px;
	background: #D1EEE2 url("../images/screenshot%202013-12-15%20032653-u211-r-fr.png") no-repeat right center;
	background-color: rgba(102, 200, 159, 0.3);
	background-size: cover !important;
}

#u210
{
	z-index: 18;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #EC6F53 url("../images/musketeers_4-u210-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u210:hover
{
	margin: 0px;
	background: #F9D3CB url("../images/musketeers_4-u210-r-fr.png") no-repeat center center;
	background-color: rgba(236, 111, 83, 0.3);
	background-size: cover !important;
}

#u209
{
	z-index: 21;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #F7C360 url("../images/screenshot%202013-12-15%20031740-u209-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u209:hover
{
	margin: 0px;
	background: #FCEDCF url("../images/screenshot%202013-12-15%20031740-u209-r-fr.png") no-repeat center center;
	background-color: rgba(247, 195, 96, 0.3);
	background-size: cover !important;
}

#u225
{
	z-index: 30;
	width: 1160px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	left: -100px;
	background: #EC6F53 url("../images/4_crop-u225-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u225:hover
{
	margin: 0px;
	background: #F9D3CB url("../images/4_crop-u225-r-fr.png") no-repeat center center;
	background-color: rgba(236, 111, 83, 0.3);
	background-size: cover !important;
}

#pu216,#pu242
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u242
{
	z-index: 27;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #F7C360 url("../images/kid-u242-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u242:hover
{
	margin: 0px;
	background: #FCEDCF url("../images/kid-u242-r-fr.png") no-repeat center center;
	background-color: rgba(247, 195, 96, 0.3);
	background-size: cover !important;
}

#u243
{
	z-index: 33;
	width: 160px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #6C4C63;
	position: relative;
	margin-right: -10000px;
}

#u243:hover
{
	background-color: #D2C9D0;
	background-color: rgba(108, 76, 99, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(108, 76, 99, 0.3);
}

#u244
{
	z-index: 35;
	width: 160px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #66C89F;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u244:hover
{
	background-color: #D1EEE2;
	background-color: rgba(102, 200, 159, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(102, 200, 159, 0.3);
}

#pu237
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#u237
{
	z-index: 22;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #66C89F;
	position: relative;
}

#u237:hover
{
	background-color: #D1EEE2;
	background-color: rgba(102, 200, 159, 0.3);
	margin: 0px;
	-pie-background: rgba(102, 200, 159, 0.3);
}

#u239
{
	z-index: 25;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #6C4C63 url("../images/60miles-u239-fr.png") no-repeat center top;
	background-size: cover !important;
}

#u239:hover
{
	margin: 0px;
	background: #D2C9D0 url("../images/60miles-u239-r-fr.png") no-repeat center top;
	background-color: rgba(108, 76, 99, 0.3);
	background-size: cover !important;
}

#u236
{
	z-index: 28;
	width: 160px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: #F7C360;
	position: relative;
	margin-right: -10000px;
	left: 640px;
}

#u236:hover
{
	background-color: #FCEDCF;
	background-color: rgba(247, 195, 96, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(247, 195, 96, 0.3);
}

#u246
{
	z-index: 31;
	width: 1160px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #EC6F53;
	position: relative;
	left: -100px;
}

#u246:hover
{
	background-color: #F9D3CB;
	background-color: rgba(236, 111, 83, 0.3);
	margin: 0px;
	-pie-background: rgba(236, 111, 83, 0.3);
}

#pu477,#ppu242,#pu247
{
	width: 0.01px;
	margin-left: 80px;
	position: relative;
}

#u247
{
	z-index: 29;
	width: 160px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: #6C4C63;
	position: relative;
	margin-right: -10000px;
}

#u247:hover
{
	background-color: #D2C9D0;
	background-color: rgba(108, 76, 99, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(108, 76, 99, 0.3);
}

#pu248
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u248
{
	z-index: 23;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #66C89F;
	position: relative;
}

#u248:hover
{
	background-color: #D1EEE2;
	background-color: rgba(102, 200, 159, 0.3);
	margin: 0px;
	-pie-background: rgba(102, 200, 159, 0.3);
}

#u249
{
	z-index: 26;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #F7C360;
	position: relative;
}

#u249:hover
{
	background-color: #FCEDCF;
	background-color: rgba(247, 195, 96, 0.3);
	margin: 0px;
	-pie-background: rgba(247, 195, 96, 0.3);
}

#ppu251
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#pu212,#pu243,#pu251
{
	width: 0.01px;
	position: relative;
}

#u251
{
	z-index: 34;
	width: 160px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #6C4C63;
	position: relative;
	margin-right: -10000px;
}

#u251:hover
{
	background-color: #D2C9D0;
	background-color: rgba(108, 76, 99, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(108, 76, 99, 0.3);
}

#u250
{
	z-index: 36;
	width: 160px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #F7C360;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u250:hover
{
	background-color: #FCEDCF;
	background-color: rgba(247, 195, 96, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(247, 195, 96, 0.3);
}

#u253
{
	z-index: 24;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: #66C89F;
	position: relative;
}

#u253:hover
{
	background-color: #D1EEE2;
	background-color: rgba(102, 200, 159, 0.3);
	margin: 0px;
	-pie-background: rgba(102, 200, 159, 0.3);
}

