.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.92417582417534px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 23px;
	margin-bottom: 62px;
}

#u281
{
	z-index: 15;
	width: 122px;
	margin-left: 419px;
}

#pu152-4
{
	width: 0.01px;
	margin-left: 400px;
	margin-top: 4px;
	position: relative;
}

#u152-4
{
	z-index: 2;
	width: 45px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u152-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u153-4
{
	z-index: 6;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 55px;
}

#u152-4:active,#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u154-4
{
	z-index: 10;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 101px;
}

#u153-4:active,#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#pu446
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 23px;
	position: relative;
}

#u446
{
	z-index: 100;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u446:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u451
{
	z-index: 102;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 35px;
}

#u456
{
	z-index: 104;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 70px;
}

#u461
{
	z-index: 106;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 106px;
}

#u466
{
	z-index: 108;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 141px;
}

#u471
{
	z-index: 110;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 176px;
}

#u451:hover,#u456:hover,#u461:hover,#u466:hover,#u471:hover
{
	background-color: transparent;
	margin: 1px -10000px 0px 0px;
}

#u446_img:hover,#u451_img:hover,#u456_img:hover,#u461_img:hover,#u466_img:hover,#u471_img:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u196
{
	z-index: 14;
	width: 152px;
	height: 20px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 648px;
}

#pppu216
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 45px;
	position: relative;
}

#ppu216
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u216
{
	z-index: 44;
	width: 480px;
	height: 240px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #66C89F url("../images/screenshot%202013-12-15%20024038-u216-fr.jpg") no-repeat center top;
	background-size: cover !important;
}

#u2745-4
{
	z-index: 72;
	width: 480px;
	min-height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: #7CD0AD;
	background-color: rgba(102, 200, 159, 0.85);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 95px;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(102, 200, 159, 0.85);
}

#u2745-4:hover
{
	background-color: #8CD5B7;
	background-color: rgba(102, 200, 159, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 100px;
	padding-bottom: 0px;
	min-height: 140px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(102, 200, 159, 0.75);
}

#u210
{
	z-index: 24;
	width: 480px;
	border-style: none;
	border-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	background: #EC6F53 url("../images/musketeers_4.jpg") no-repeat center center;
	background-size: cover !important;
}

#u210:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px 0px -4px;
	background-size: cover !important;
}

#u2759-5
{
	z-index: 25;
	width: 480px;
	min-height: 174px;
	border-style: none;
	border-color: transparent;
	background-color: #EC6F53;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2759-5:hover
{
	background-color: #F0937E;
	background-color: rgba(236, 111, 83, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 174px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(236, 111, 83, 0.75);
}

#u2759-5:active
{
	background-color: #F0937E;
	background-color: rgba(236, 111, 83, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 174px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(236, 111, 83, 0.75);
}

#u2745-4:hover p,#u2759-5:hover p
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u2759-5:active p
{
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#ppu212
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u212
{
	z-index: 47;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #F7C360 url("../images/1lonelylego_rainbow_keyvisual-u212-fr.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u212:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u2755-4
{
	z-index: 84;
	width: 320px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: #F7C360;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 64px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2755-4:hover
{
	background-color: #90788A;
	background-color: rgba(108, 76, 99, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 96px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(108, 76, 99, 0.75);
}

#u5210
{
	z-index: 30;
	width: 320px;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
}

#u2760-4
{
	z-index: 76;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #8FE7C2;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
}

#u2760-4:hover
{
	background-color: #999999;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 159px -10000px 0px 0px;
	-pie-background: rgba(0, 0, 0, 0.4);
}

#u2760-4:active
{
	background-color: #999999;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 159px -10000px 0px 0px;
	-pie-background: rgba(0, 0, 0, 0.4);
}

#u2760-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u2760-4:active p
{
	color: #8FE7C2;
	visibility: inherit;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u249
{
	z-index: 112;
	width: 320px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #F7C360 url("../images/logocrop.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3598-4
{
	z-index: 113;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #F7C360;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3598-4:hover
{
	background-color: #F9D287;
	background-color: rgba(247, 195, 96, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(247, 195, 96, 0.75);
}

#pu225
{
	width: 0.01px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u225
{
	z-index: 117;
	width: 1160px;
	height: 239px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #E2E2E2 url("../images/reel_button_web_new-u225-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u225:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 1px -10000px 0px 0px;
	background-size: cover !important;
}

#u2761-3
{
	z-index: 118;
	width: 1160px;
	min-height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 60px;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2761-3:hover
{
	background-color: #E5E5E5;
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 90px;
	padding-bottom: 0px;
	min-height: 150px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0, 0, 0, 0.1);
}

#pppu242
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 1px;
	position: relative;
}

#ppu242
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u242
{
	z-index: 46;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #F7C360 url("../images/kid-u242-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u242:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u2762-4
{
	z-index: 96;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #F7C360;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2762-4:hover
{
	background-color: #F9D287;
	background-color: rgba(247, 195, 96, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(247, 195, 96, 0.75);
}

#u211
{
	z-index: 43;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: #66C89F url("../images/screenshot%202013-12-15%20032653-u211-fr.jpg") no-repeat right center;
	background-size: cover !important;
}

#u211:hover
{
	background-repeat: no-repeat;
	background-position: right center;
	margin: 1px -10000px 0px 0px;
	background-size: cover !important;
}

#u2756-4
{
	z-index: 48;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #66C89F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2756-4:hover
{
	background-color: #8CD5B7;
	background-color: rgba(102, 200, 159, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(102, 200, 159, 0.75);
}

#ppu237
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#u237
{
	z-index: 41;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #66C89F url("../images/5-u237-fr.jpg") no-repeat center bottom;
	background-size: cover !important;
}

#u237:hover
{
	margin: 0px -10000px 0px 0px;
	background: #8CD5B7 url("../images/5-u237-r-fr.png") no-repeat center bottom;
	background-color: rgba(102, 200, 159, 0.75);
	background-size: cover !important;
}

#u3426-4
{
	z-index: 80;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #F7C360;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3426-4:hover
{
	background-color: #F9D287;
	background-color: rgba(247, 195, 96, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(247, 195, 96, 0.75);
}

#u217
{
	z-index: 17;
	width: 320px;
	border-style: none;
	border-color: transparent;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	background: #6C4C63 url("../images/25_1.jpg") no-repeat center center;
	background-size: cover !important;
}

#u217:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px 0px -2px;
	background-size: cover !important;
}

#u2758-6
{
	z-index: 18;
	width: 320px;
	min-height: 113px;
	border-style: none;
	border-color: transparent;
	background-color: #6C4C63;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 80px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-bottom: -14px;
	position: relative;
	margin-right: -10000px;
	margin-top: -18px;
}

#u2758-6:hover
{
	background-color: #90788A;
	background-color: rgba(108, 76, 99, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 90px;
	padding-bottom: 0px;
	min-height: 103px;
	margin: -18px -10000px -14px 0px;
	-pie-background: rgba(108, 76, 99, 0.75);
}

#u236
{
	z-index: 42;
	width: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 640px;
	background: #F7C360 url("../images/11.jpg") no-repeat center center;
}

#u236:hover
{
	margin: 0px -10000px 0px 0px;
	background: #F9D287 url("../images/11-u236-r-fr.png") no-repeat center center;
	background-color: rgba(247, 195, 96, 0.75);
}

#u3428-4
{
	z-index: 64;
	width: 160px;
	min-height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: #66C89F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3428-4:hover
{
	background-color: #8CD5B7;
	background-color: rgba(102, 200, 159, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 145px;
	padding-bottom: 0px;
	min-height: 175px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(102, 200, 159, 0.75);
}

#pu246
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u246
{
	z-index: 32;
	width: 1160px;
	height: 240px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #4D2639 url("../images/famec%20copy-u246-fr.jpg") no-repeat left center;
	background-size: contain !important;
}

#u3412-4
{
	z-index: 33;
	width: 1160px;
	min-height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: #EC6F53;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 60px;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3412-4:hover
{
	background-color: #F0937E;
	background-color: rgba(236, 111, 83, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 100px;
	padding-bottom: 0px;
	min-height: 140px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(236, 111, 83, 0.75);
}

#pppu248
{
	width: 0.01px;
	margin-left: 80px;
	position: relative;
}

#ppu248
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u248
{
	z-index: 40;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #66C89F url("../images/5-2-u248-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3591-4
{
	z-index: 52;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #66C89F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3591-4:hover
{
	background-color: #8CD5B7;
	background-color: rgba(102, 200, 159, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(102, 200, 159, 0.75);
}

#u239
{
	z-index: 45;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #6C4C63 url("../images/60miles-u239-fr.png") no-repeat center top;
	background-size: cover !important;
}

#u216:hover,#u239:hover
{
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u2763-4
{
	z-index: 88;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #6C4C63;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2763-4:hover
{
	background-color: #90788A;
	background-color: rgba(108, 76, 99, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(108, 76, 99, 0.75);
}

#ppu251
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u251
{
	z-index: 38;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #6C4C63 url("../images/enl_logo_mvnightmare_crop-u251-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3634-4
{
	z-index: 92;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #6C4C63;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3634-4:hover
{
	background-color: #90788A;
	background-color: rgba(108, 76, 99, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(108, 76, 99, 0.75);
}

#u3598-4:hover p,#u2761-3:hover p,#u2762-4:hover p,#u3426-4:hover p,#u3412-4:hover p,#u2763-4:hover p,#u3634-4:hover p
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#pu216,#pu212,#pu5210,#pu242,#pu211,#pu237,#pu248,#pu239,#pu251,#pu253
{
	width: 0.01px;
	position: relative;
}

#u253
{
	z-index: 39;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #66C89F url("../images/stamp_grianday_ticket2-u253-fr.jpg") no-repeat left center;
	background-size: cover !important;
}

#u3633-4
{
	z-index: 56;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #66C89F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u3633-4:hover
{
	background-color: #8CD5B7;
	background-color: rgba(102, 200, 159, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(102, 200, 159, 0.75);
}

#u3633-4:hover p
{
	font-size: 18px;
}

#u3632-4
{
	z-index: 60;
	width: 320px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #66C89F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3632-4:hover
{
	background-color: #8CD5B7;
	background-color: rgba(102, 200, 159, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 70px;
	padding-bottom: 0px;
	min-height: 90px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(102, 200, 159, 0.75);
}

#u247
{
	z-index: 37;
	width: 160px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/tee2012_1fox_goodday%20copy-u247-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3635-4
{
	z-index: 68;
	width: 160px;
	min-height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: #66C89F;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 70px;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3635-4:hover
{
	background-color: #90788A;
	background-color: rgba(108, 76, 99, 0.75);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 145px;
	padding-bottom: 0px;
	min-height: 175px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(108, 76, 99, 0.75);
}

#u2755-4:hover p,#u2756-4:hover p,#u2758-6:hover p,#u3428-4:hover p,#u3591-4:hover p,#u3632-4:hover p,#u3635-4:hover p
{
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
}

