.version.keybod /* version checker */
{
	color: #000011;
	background-color: #86EC47;
}

.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 419px;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 357px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u153-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 52px;
}

#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 188px;
}

#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#pu11448
{
	width: 0.01px;
	margin-top: 95px;
}

#u11448
{
	z-index: 20;
	width: 960px;
	min-height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u11550-11
{
	z-index: 22;
	width: 530px;
	min-height: 301px;
	background-color: transparent;
	padding: 15px;
	line-height: 24px;
	font-size: 16px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 497px;
	left: 400px;
}

#u11445
{
	z-index: 33;
	width: 434px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 510px;
}

#u11446-26
{
	z-index: 34;
	width: 376px;
	min-height: 205px;
	background-color: transparent;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	margin-right: -10000px;
}

#u11446-2
{
	font-size: 28px;
	line-height: 34px;
}

#u11446
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u11446-10,#u11446-16
{
	font-size: 14px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u11446-4,#u11446-6,#u11446-8,#u11446-9,#u11446-23
{
	font-size: 15px;
	line-height: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u11447-27
{
	z-index: 60;
	width: 404px;
	min-height: 200px;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
}

#u11447,#u11447-2
{
	font-family: muli, sans-serif;
	font-weight: 300;
}

#u11447-4
{
	font-size: 18px;
	line-height: 27px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u11446-18,#u11446-20,#u11446-22,#u11447-14,#u11447-16,#u11447-18
{
	line-height: 21px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u11447-5,#u11447-7,#u11447-9,#u11447-10,#u11447-20,#u11447-22
{
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u11447-6,#u11447-8,#u11447-13,#u11447-19,#u11447-21,#u11447-23,#u11447-24,#u11447-25
{
	line-height: 21px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u15541
{
	z-index: 283;
	width: 346px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1125px;
	left: 9px;
}

#slideshowu12573
{
	z-index: 241;
	width: 0.01px;
	height: 533px;
	margin-left: 80px;
	margin-top: 42px;
	position: relative;
}

#u12574
{
	position: absolute;
	width: 800px;
	height: 533px;
	background-color: transparent;
}

#u12574popup
{
	z-index: 242;
}

#u12650
{
	z-index: 243;
	width: 800px;
	height: 533px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12664
{
	z-index: 245;
	width: 800px;
	height: 533px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12664_img
{
	margin-left: -3px;
	margin-right: -146px;
}

#u12678
{
	z-index: 247;
	width: 800px;
	height: 533px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12650_img,#u12678_img
{
	margin-left: -2px;
	margin-right: -1px;
}

#u12692
{
	z-index: 249;
	width: 800px;
	height: 533px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12706
{
	z-index: 251;
	width: 800px;
	height: 533px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12650_clip,#u12664_clip,#u12678_clip,#u12706_clip
{
	overflow: hidden;
	width: 800px;
	height: 533px;
}

#u12706_img
{
	margin-top: -14px;
	margin-right: -1px;
	margin-bottom: -93px;
}

#u13206
{
	z-index: 253;
	width: 800px;
	height: 533px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13215
{
	z-index: 255;
	width: 800px;
	height: 533px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13224
{
	z-index: 257;
	width: 800px;
	height: 533px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12616-10
{
	position: absolute;
	width: 140px;
	min-height: 513px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u12616-10popup
{
	z-index: 259;
}

#u12613-10
{
	position: absolute;
	width: 140px;
	min-height: 513px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 640px;
}

#u12613-10popup
{
	z-index: 269;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu12050
{
	z-index: 150;
	width: 0.01px;
	height: 449px;
	margin-top: 135px;
	position: relative;
}

#u12081
{
	position: absolute;
	width: 640px;
	height: 449px;
	background-color: transparent;
	left: 320px;
}

#u12081popup
{
	z-index: 151;
}

#u12182
{
	z-index: 152;
	width: 640px;
	height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12182_img
{
	margin-left: -14px;
	margin-top: -6px;
	margin-bottom: -59px;
}

#u12167
{
	z-index: 154;
	width: 640px;
	height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12167_img
{
	margin-left: -5px;
	margin-top: -27px;
	margin-bottom: -30px;
}

#u12207
{
	z-index: 156;
	width: 640px;
	height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12207_img
{
	margin-left: -5px;
	margin-right: -4px;
	margin-bottom: -1px;
}

#u12301
{
	z-index: 158;
	width: 640px;
	height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12301_img
{
	margin-bottom: -31px;
}

#u12225
{
	z-index: 160;
	width: 640px;
	height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12225_img
{
	margin-left: -20px;
	margin-top: -1px;
	margin-right: -18px;
}

#u12239
{
	z-index: 162;
	width: 640px;
	height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12239_img
{
	margin-left: -38px;
	margin-top: -1px;
}

#u12277
{
	z-index: 164;
	width: 640px;
	height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12277_img
{
	margin-right: -36px;
}

#u12253
{
	z-index: 166;
	width: 640px;
	height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12253_img
{
	margin-left: -88px;
	margin-right: -46px;
}

#u12336
{
	z-index: 168;
	width: 640px;
	height: 449px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12182_clip,#u12167_clip,#u12207_clip,#u12301_clip,#u12225_clip,#u12239_clip,#u12277_clip,#u12253_clip,#u12336_clip
{
	overflow: hidden;
	width: 640px;
	height: 449px;
}

#u12336_img
{
	margin-left: -78px;
	margin-right: -80px;
}

#u12056
{
	position: absolute;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 84px;
	top: 42px;
}

#u12056popup
{
	z-index: 170;
}

#u12185
{
	z-index: 171;
	width: 82px;
	height: 70px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 27px;
}

#u12170
{
	z-index: 173;
	width: 82px;
	height: 70px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 119px;
}

#u12210
{
	z-index: 175;
	width: 82px;
	height: 70px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 211px;
}

#u12185.SSSlideLinkSelected,#u12170.SSSlideLinkSelected,#u12210.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 82px;
	height: 70px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u12304
{
	z-index: 177;
	width: 82px;
	height: 70px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 27px;
}

#u12228
{
	z-index: 179;
	width: 82px;
	height: 70px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 119px;
}

#u12242
{
	z-index: 181;
	width: 82px;
	height: 70px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 211px;
}

#u12304.SSSlideLinkSelected,#u12228.SSSlideLinkSelected,#u12242.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 82px;
	height: 70px;
	min-height: 0px;
	margin: 84px -10000px 0px 0px;
}

#u12280
{
	z-index: 183;
	width: 82px;
	height: 70px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 27px;
}

#u12256
{
	z-index: 185;
	width: 82px;
	height: 70px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 119px;
}

#u12339
{
	z-index: 187;
	width: 82px;
	height: 70px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 164px;
	left: 211px;
}

#u12280.SSSlideLinkSelected,#u12256.SSSlideLinkSelected,#u12339.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 82px;
	height: 70px;
	min-height: 0px;
	margin: 164px -10000px 0px 0px;
}

#u12106
{
	position: absolute;
	width: 579px;
	background-color: transparent;
	top: 409px;
}

#u12106popup
{
	z-index: 189;
}

#u12188-4
{
	z-index: 190;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u12173-4
{
	z-index: 194;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u12213-4
{
	z-index: 198;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u12307-4
{
	z-index: 202;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u12231-4
{
	z-index: 206;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u12245-4
{
	z-index: 210;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u12283-3
{
	z-index: 214;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u12259-4
{
	z-index: 217;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u12342-4
{
	z-index: 221;
	width: 559px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #999999;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u12051-8
{
	position: absolute;
	width: 60px;
	min-height: 405px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 4px;
	left: 320px;
}

#u12051-8popup
{
	z-index: 225;
}

#u12054-8
{
	position: absolute;
	width: 59px;
	min-height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 881px;
}

#u12054-8popup
{
	z-index: 233;
}

#u12121-4
{
	z-index: 279;
	width: 200px;
	background-color: transparent;
	color: #282828;
	line-height: 22px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 700;
	top: -447px;
	margin-bottom: -22px;
	position: relative;
}

#pu11710
{
	width: 0.01px;
	margin-top: 133px;
}

#u11710
{
	z-index: 144;
	width: 320px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11725
{
	z-index: 148;
	width: 320px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#u11725_img
{
	margin-left: -85px;
	margin-right: -22px;
}

#u11720
{
	z-index: 146;
	width: 320px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 640px;
}

#u11725_clip,#u11720_clip
{
	overflow: hidden;
	width: 320px;
	height: 240px;
}

#u11720_img
{
	margin-left: -64px;
	margin-right: -43px;
}

#pu11451-4
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 134px;
}

#u11451-4
{
	z-index: 87;
	width: 200px;
	background-color: transparent;
	color: #282828;
	line-height: 22px;
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#slideshowu11678
{
	z-index: 91;
	width: 0.01px;
	height: 496px;
	position: relative;
	margin-right: -10000px;
	left: 160px;
}

#u11682
{
	position: absolute;
	width: 640px;
	height: 427px;
	background-color: transparent;
}

#u11682popup
{
	z-index: 92;
}

#u11841
{
	z-index: 93;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11823
{
	z-index: 95;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11805
{
	z-index: 97;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11832
{
	z-index: 99;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11832_img
{
	padding-top: 1px;
}

#u11796
{
	z-index: 101;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11814
{
	z-index: 103;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11866
{
	z-index: 105;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11875
{
	z-index: 107;
	width: 640px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12692_img,#u13206_img,#u13215_img,#u13224_img,#u11841_img,#u11823_img,#u11805_img,#u11796_img,#u11814_img,#u11866_img,#u11875_img
{
	padding-top: 1px;
	padding-bottom: 1px;
}

#u11690
{
	position: absolute;
	width: 603px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 443px;
	left: 18px;
}

#u11690popup
{
	z-index: 109;
}

#u11844
{
	z-index: 110;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 26px;
}

#u11826
{
	z-index: 112;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 96px;
}

#u11808
{
	z-index: 114;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 166px;
}

#u11808_img
{
	padding-bottom: 11px;
}

#u11835
{
	z-index: 116;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 236px;
}

#u11799
{
	z-index: 118;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 306px;
}

#u11817
{
	z-index: 120;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 376px;
}

#u11869
{
	z-index: 122;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 446px;
}

#u11878
{
	z-index: 124;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 516px;
}

#u11844.SSSlideLinkSelected,#u11826.SSSlideLinkSelected,#u11808.SSSlideLinkSelected,#u11835.SSSlideLinkSelected,#u11799.SSSlideLinkSelected,#u11817.SSSlideLinkSelected,#u11869.SSSlideLinkSelected,#u11878.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u11680-9
{
	position: absolute;
	width: 60px;
	min-height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u11680-9popup
{
	z-index: 126;
}

#u11689-9
{
	position: absolute;
	width: 60px;
	min-height: 407px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 560px;
}

#u11689-9popup
{
	z-index: 135;
}

#u11452
{
	z-index: 21;
	width: 960px;
	min-height: 561px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 80px;
	margin-top: 83px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

