.version.labs /* version checker */
{
	color: #0000F8;
	background-color: #4734B1;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 815px;
	min-height: 837.6241758241757px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right: auto;
	padding: 23px 80px 62.37582417582428px 65px;
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 354px;
	position: relative;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 292px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u153-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
}

#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#pu7944
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 54px;
}

#u7944
{
	z-index: 41;
	width: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../images/new1mail.png") no-repeat left top;
}

#u7944:hover
{
	width: 21px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/new1mail-u7586-r-fr.png") no-repeat left top;
}

#u7946
{
	z-index: 43;
	width: 8px;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 35px;
	background: transparent url("../images/new2fb.png") no-repeat left top;
}

#u7946:hover
{
	width: 8px;
	height: 17px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/new2fb-u7588-r-fr.png") no-repeat left top;
}

#u7948
{
	z-index: 44;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 57px;
	background: transparent url("../images/new3insta.png") no-repeat left top;
}

#u7948:hover
{
	width: 16px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/new3insta-u7590-r-fr.png") no-repeat left top;
}

#u7950
{
	z-index: 46;
	width: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 87px;
	background: transparent url("../images/new4vimeo.png") no-repeat left top;
}

#u7950:hover
{
	width: 15px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
	background: transparent url("../images/new4vimeo-u7592-r-fr.png") no-repeat left top;
}

#u7952
{
	z-index: 48;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 113px;
	background: transparent url("../images/new5pin.png") no-repeat left top;
}

#u7952:hover
{
	width: 17px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/new5pin-u7594-r-fr.png") no-repeat left top;
}

#u7954
{
	z-index: 50;
	width: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 142px;
	background: transparent url("../images/new6twitter.png") no-repeat left top;
}

#u7954:hover
{
	width: 18px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
	background: transparent url("../images/new6twitter-u7596-r-fr.png") no-repeat left top;
}

#u7944_img:hover,#u7948_img:hover,#u7950_img:hover,#u7952_img:hover,#u7954_img:hover
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u7956
{
	z-index: 52;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u7956:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 17px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu11432-6
{
	width: 0.01px;
	margin-top: 23px;
}

#u11432-6
{
	z-index: 62;
	width: 234px;
	min-height: 103px;
	background-color: transparent;
	padding: 15px;
	line-height: 24px;
	font-size: 16px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
}

#u7936
{
	z-index: 40;
	width: 240px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 295px;
	background: #E2E2E2 url("../images/fbfthumbnail.png") no-repeat center center;
	background-size: cover;
}

#u8730-8
{
	z-index: 54;
	width: 240px;
	min-height: 176px;
	border-width: 0px;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 64px;
	color: #FFFFFF;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8730-8:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 176px;
	width: 240px;
	margin: 0px -10000px 0px 0px;
}

#u9463
{
	z-index: 31;
	width: 240px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 575px;
	background: #E2E2E2 url("../images/thumbnailbootcampcode.jpg") no-repeat center center;
	background-size: cover;
}

#u9464-8
{
	z-index: 32;
	width: 240px;
	min-height: 176px;
	border-width: 0px;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 64px;
	color: #FFFFFF;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u8730-8:active,#u9464-8:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 176px;
	width: 240px;
	margin: 0px -10000px 0px 0px;
}

#pu11538
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 47px;
}

#u11538
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u10867
{
	z-index: 22;
	width: 240px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
	background: #E2E2E2 url("../images/screen%20shot%202015-01-05%20at%2030118%20am.jpg") no-repeat center center;
	background-size: cover;
}

#u7936:hover,#u9463:hover,#u10867:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 240px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u10868-8
{
	z-index: 23;
	width: 240px;
	min-height: 176px;
	border-width: 0px;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 64px;
	color: #FFFFFF;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u9464-8:active,#u10868-8:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 176px;
	width: 240px;
	margin: 0px -10000px 0px 0px;
}

#u11500-8
{
	z-index: 68;
	width: 240px;
	min-height: 176px;
	border-width: 0px;
	border-color: transparent;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 64px;
	color: #FFFFFF;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u10868-8:active,#u11500-8:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 176px;
	width: 240px;
	margin: 0px -10000px 0px 0px;
}

#u11500-8:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 64px;
	padding-bottom: 0px;
	min-height: 176px;
	width: 240px;
	margin: 0px -10000px 0px 0px;
}

#u8730-8:active p,#u9464-8:active p,#u10868-8:active p,#u11500-8:active p
{
	color: #8FE7C2;
	visibility: inherit;
}

#u8730,#u8730-2,#u8730-4,#u9464,#u9464-2,#u9464-4,#u10868,#u10868-2,#u10868-4,#u11500,#u11500-2,#u11500-4
{
	font-size: 18px;
	line-height: 22px;
}

#u8730-6,#u9464-6,#u10868-6,#u11500-6
{
	font-size: 14px;
	font-style: italic;
}

#u15517-4
{
	z-index: 76;
	width: 286px;
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	margin-left: 272px;
	margin-top: 71px;
	position: relative;
}

.html
{
	background-color: #E2E2E2;
}

body
{
	position: relative;
	min-width: 960px;
}

