#u281
{
	position: relative;
}

#u152-4,#u153-4,#u154-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u196
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
}

