.version.openpage_thesis /* version checker */
{
	color: #0000F7;
	background-color: #6F2EC5;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 866px;
	min-height: 415px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right: auto;
	padding: 23px 44px 62px 50px;
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 369px;
	position: relative;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 307px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u153-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
}

#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u15246
{
	z-index: 20;
	width: 866px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 65px;
	position: relative;
}

#pu15219
{
	width: 0.01px;
	margin-right: -10000px;
}

#u15219
{
	z-index: 24;
	width: 498px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u15203-6
{
	z-index: 54;
	width: 318px;
	background-color: transparent;
	font-size: 19px;
	line-height: 26px;
	margin-left: 14px;
	position: relative;
}

#pu14813
{
	width: 0.01px;
	margin-top: 21px;
}

#u14813
{
	z-index: 25;
	width: 498px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u14814-9
{
	z-index: 37;
	width: 468px;
	min-height: 205px;
	background-color: transparent;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

#u14814-2
{
	font-size: 19px;
	line-height: 26px;
}

#u14814-3
{
	font-size: 25px;
	line-height: 50px;
}

#u14814-5
{
	font-size: 19px;
	line-height: 23px;
}

#u15203,#u15203-3,#u14814,#u14814-4
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u14814-7
{
	font-size: 15px;
	line-height: 45px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u14815-11
{
	z-index: 26;
	width: 404px;
	min-height: 86px;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-top: 21px;
	position: relative;
}

#u14815-3
{
	font-size: 12px;
	line-height: 18px;
}

#u14815,#u14815-2
{
	text-decoration: underline;
	color: #1E1E1E;
}

#u14815-5
{
	font-size: 18px;
	line-height: 27px;
}

#u14815-4
{
	color: #1E1E1E;
	font-style: italic;
}

#u14815-8
{
	font-size: 18px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u14815-6
{
	color: #1E1E1E;
	line-height: 27px;
}

#u14815-7
{
	font-size: 11px;
	color: #1E1E1E;
	line-height: 17px;
}

#u14815-9
{
	line-height: 21px;
}

#u15201-4
{
	z-index: 46;
	width: 81px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: #E2E2E2;
	padding: 1px;
	color: #000000;
	text-align: center;
	line-height: 14px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 23px;
}

#u15201-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 22px;
	width: 81px;
	margin: 290px -10000px 0px 0px;
}

#u15201-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 22px;
	width: 81px;
	margin: 290px -10000px 0px 0px;
}

#u15201-4:hover p,#u15201-4:hover span,#u15201-4:active p,#u15201-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u15201
{
	font-size: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 18px;
}

#u15200-4
{
	z-index: 50;
	width: 354px;
	min-height: 29px;
	border-width: 0px;
	border-color: transparent;
	background-color: #E2E2E2;
	padding: 1px;
	text-align: center;
	line-height: 14px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 14px;
}

#u15200-4:hover
{
	background-color: #66C89F;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 29px;
	width: 354px;
	margin: 90px -10000px 0px 0px;
}

#u15200-4:active
{
	background-color: #8FE7C2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 29px;
	width: 354px;
	margin: 90px -10000px 0px 0px;
}

#u15200-4:hover p,#u15200-4:hover span,#u15200-4:active p,#u15200-4:active span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u15201-2,#u15200-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u15200
{
	font-size: 25px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	line-height: 25px;
}

#u15196
{
	z-index: 60;
	width: 40px;
	min-height: 40px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	left: 410px;
}

#pu15218
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 521px;
}

#u15218
{
	z-index: 21;
	width: 335px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u15208
{
	z-index: 22;
	width: 335px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u15208_img
{
	margin-top: -14px;
	margin-bottom: -1px;
}

#u15220-8
{
	z-index: 61;
	width: 345px;
	background-color: transparent;
	line-height: 21px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	margin-top: 37px;
	position: relative;
}

#u15220,#u15220-3,#u15220-5
{
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

.html
{
	background-color: #E2E2E2;
}

body
{
	position: relative;
	min-width: 960px;
}

