.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 414.5241758241756px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	margin-left: auto;
	margin-right: auto;
	padding: 23px 80px 62.475824175824414px;
}

#u281
{
	z-index: 15;
	width: 122px;
	margin-left: 339px;
}

#pu152-4
{
	width: 0.01px;
	margin-left: 320px;
	margin-top: 4px;
	position: relative;
}

#u152-4
{
	z-index: 2;
	width: 45px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u152-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u153-4
{
	z-index: 6;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 55px;
}

#u152-4:active,#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u154-4
{
	z-index: 10;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 101px;
}

#u153-4:active,#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u196
{
	z-index: 14;
	width: 152px;
	height: 20px;
	margin-left: 648px;
	margin-top: 25px;
}

#u2780
{
	z-index: 17;
	width: 800px;
	min-height: 454px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#u6325
{
	z-index: 18;
	width: 200px;
	margin-left: 300px;
	margin-top: 59px;
	position: relative;
}

#u3560
{
	z-index: 19;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3562
{
	z-index: 21;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u3564
{
	z-index: 23;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u3566
{
	z-index: 25;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u3568
{
	z-index: 27;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u3560:hover,#u3562:hover,#u3564:hover,#u3566:hover,#u3568:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u3570
{
	z-index: 29;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u3570:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.75);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.75);
}

#u3560_img:hover,#u3562_img:hover,#u3564_img:hover,#u3566_img:hover,#u3568_img:hover,#u3570_img:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

