.version.restless /* version checker */
{
	color: #000018;
	background-color: #1A1024;
}

.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.87417582417606px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 419px;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 357px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 52px;
}

#u153-4:active,#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 188px;
}

#u7869-4:active,#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	margin: 0px -10000px 0px 0px;
}

#pu2349
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 70px;
}

#u2349
{
	z-index: 83;
	width: 797px;
	min-height: 642px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 161px;
}

#u3389-10
{
	z-index: 87;
	width: 396px;
	min-height: 92px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 572px;
}

#u3389-2
{
	font-size: 28px;
	line-height: 34px;
}

#u3389
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u3389-4,#u3389-6,#u3389-8
{
	font-size: 15px;
	line-height: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u3390-11
{
	z-index: 97;
	width: 401px;
	min-height: 113px;
	background-color: transparent;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 680px;
}

#u3390-2
{
	font-size: 18px;
	line-height: 27px;
}

#u3390-3,#u3390-6
{
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u3390-5,#u3390-8,#u3390-9
{
	line-height: 21px;
}

#u3391-5
{
	z-index: 108;
	width: 480px;
	min-height: 234px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 590px;
	left: 481px;
}

#slideshowu2351
{
	z-index: 20;
	width: 0.01px;
	height: 648px;
	left: -1px;
	position: relative;
}

#u2379
{
	position: absolute;
	width: 640px;
	height: 610px;
	background-color: transparent;
	left: 1px;
}

#u2379popup
{
	z-index: 21;
}

#u2380
{
	z-index: 22;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2380_img
{
	padding-left: 105px;
	padding-right: 104px;
}

#u2461
{
	z-index: 24;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2461_img
{
	padding-left: 79px;
	padding-right: 79px;
}

#u2476
{
	z-index: 26;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2476_img
{
	padding-top: 73px;
	padding-bottom: 72px;
}

#u2491
{
	z-index: 28;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2491_img
{
	padding-top: 67px;
	padding-bottom: 66px;
}

#u2506
{
	z-index: 30;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2506_img
{
	padding-top: 99px;
	padding-bottom: 99px;
}

#u2521
{
	z-index: 32;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2521_img
{
	padding-top: 43px;
	padding-bottom: 42px;
}

#u2536
{
	z-index: 34;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2536_img
{
	padding-left: 52px;
	padding-right: 52px;
}

#u2551
{
	z-index: 36;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2551_img
{
	padding-top: 99px;
	padding-bottom: 98px;
}

#u2566
{
	z-index: 38;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2566_img
{
	padding-top: 207px;
	padding-bottom: 206px;
}

#u2588
{
	z-index: 40;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2588_img
{
	padding-top: 142px;
	padding-bottom: 141px;
}

#u2603
{
	z-index: 42;
	width: 640px;
	height: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2603_img
{
	padding-top: 204px;
	padding-bottom: 204px;
}

#u2352
{
	position: absolute;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 485px;
	left: 641px;
}

#u2352popup
{
	z-index: 44;
}

#u2357
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 25px;
}

#u2464
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 95px;
}

#u2479
{
	z-index: 49;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 165px;
}

#u2479_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u2494
{
	z-index: 51;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 235px;
}

#u2357.SSSlideLinkSelected,#u2464.SSSlideLinkSelected,#u2479.SSSlideLinkSelected,#u2494.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u2509
{
	z-index: 53;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 25px;
}

#u2524
{
	z-index: 55;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 95px;
}

#u2524_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u2539
{
	z-index: 57;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 165px;
}

#u2554
{
	z-index: 59;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 235px;
}

#u2509.SSSlideLinkSelected,#u2524.SSSlideLinkSelected,#u2539.SSSlideLinkSelected,#u2554.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 59px -10000px 0px 0px;
}

#u2479_clip,#u2509_clip,#u2524_clip,#u2554_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u2509_img,#u2554_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u2569
{
	z-index: 61;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 25px;
}

#u2591
{
	z-index: 63;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 95px;
}

#u2606
{
	z-index: 65;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 165px;
}

#u2569.SSSlideLinkSelected,#u2591.SSSlideLinkSelected,#u2606.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 114px -10000px 0px 0px;
}

#u2415-8
{
	position: absolute;
	width: 60px;
	min-height: 628px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	font-size: 48px;
	line-height: 67px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u2415-8popup
{
	z-index: 67;
}

#u2415-5
{
	color: #999999;
}

#u2419-8
{
	position: absolute;
	width: 60px;
	min-height: 628px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	font-size: 48px;
	line-height: 67px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 561px;
}

#u2419-8popup
{
	z-index: 75;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2347
{
	z-index: 84;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	margin-left: 640px;
	top: -648px;
	margin-bottom: -160px;
	position: relative;
	background: #66C89F url("../images/screenshot%202013-12-15%20035224-u2347-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u2347:hover
{
	margin: 0px 0px -160px 640px;
	background: #D1EEE2 url("../images/screenshot%202013-12-15%20035224-u2347-r-fr.png") no-repeat left top;
	background-color: rgba(102, 200, 159, 0.3);
	background-size: cover;
}

#u2348
{
	z-index: 85;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	margin-left: 640px;
	top: -488px;
	margin-bottom: -160px;
	position: relative;
	background: #66C89F url("../images/7lettering-u2348-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2348:hover
{
	margin: 0px 0px -160px 640px;
	background: #D1EEE2 url("../images/7lettering-u2348-r-fr.png") no-repeat center center;
	background-color: rgba(102, 200, 159, 0.3);
	background-size: cover;
}

#u2421
{
	z-index: 86;
	width: 320px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	margin-left: 640px;
	top: -328px;
	margin-bottom: -160px;
	position: relative;
	background: #66C89F url("../images/screenshot%202013-12-15%20032653-u7568-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2421:hover
{
	margin: 0px 0px -160px 640px;
	background: #D1EEE2 url("../images/screenshot%202013-12-15%20032653-u2421-r-fr.png") no-repeat center center;
	background-color: rgba(102, 200, 159, 0.3);
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
}

