.version.restless /* version checker */
{
	color: #0000E0;
	background-color: #E6B35C;
}

.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.47417582417665px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2E2E2;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 419px;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 357px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u153-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 52px;
}

#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 188px;
}

#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#pu2349
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 70px;
}

#u2349
{
	z-index: 63;
	width: 797px;
	min-height: 642px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 161px;
}

#u3389-10
{
	z-index: 64;
	width: 396px;
	min-height: 92px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 572px;
}

#u3389-2
{
	font-size: 28px;
	line-height: 34px;
}

#u3389
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u3389-4,#u3389-6,#u3389-8
{
	font-size: 15px;
	line-height: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u3390-11
{
	z-index: 74;
	width: 401px;
	min-height: 113px;
	background-color: transparent;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 680px;
}

#u3390-2
{
	font-size: 18px;
	line-height: 27px;
}

#u3390-5,#u3390-8,#u3390-9
{
	line-height: 21px;
}

#u3391-5
{
	z-index: 85;
	width: 480px;
	min-height: 234px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 793px;
	left: 1px;
}

#u13065
{
	z-index: 90;
	width: 385px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 572px;
	left: 536px;
}

#slideshowu2351
{
	z-index: 20;
	width: 0.01px;
	height: 732px;
	left: -1px;
	margin-top: 53px;
	position: relative;
}

#u2379
{
	position: absolute;
	width: 800px;
	height: 596px;
	background-color: transparent;
	left: 81px;
}

#u2379popup
{
	z-index: 21;
}

#u2476
{
	z-index: 22;
	width: 800px;
	height: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2476_img
{
	margin-left: -11px;
	margin-right: -25px;
	margin-bottom: -11px;
}

#u13096
{
	z-index: 24;
	width: 800px;
	height: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13096_img
{
	margin-top: -10px;
	margin-right: -1px;
	margin-bottom: -4px;
}

#u13105
{
	z-index: 26;
	width: 800px;
	height: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13105_img
{
	margin-left: -9px;
	margin-top: -6px;
	margin-bottom: -14px;
}

#u13114
{
	z-index: 28;
	width: 800px;
	height: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13123
{
	z-index: 30;
	width: 800px;
	height: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13123_img
{
	margin-top: -6px;
	margin-bottom: -7px;
}

#u13132
{
	z-index: 32;
	width: 800px;
	height: 596px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2476_clip,#u13096_clip,#u13105_clip,#u13114_clip,#u13123_clip,#u13132_clip
{
	overflow: hidden;
	width: 800px;
	height: 596px;
}

#u13114_img,#u13132_img
{
	margin-top: -7px;
	margin-bottom: -6px;
}

#u2352
{
	position: absolute;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 32px;
	top: 651px;
}

#u2352popup
{
	z-index: 34;
}

#u2479
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 275px;
}

#u2479_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u13099
{
	z-index: 37;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 345px;
}

#u13108
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 415px;
}

#u13117
{
	z-index: 41;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 485px;
}

#u13126
{
	z-index: 43;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 555px;
}

#u13135
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 625px;
}

#u2479.SSSlideLinkSelected,#u13099.SSSlideLinkSelected,#u13108.SSSlideLinkSelected,#u13117.SSSlideLinkSelected,#u13126.SSSlideLinkSelected,#u13135.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u2479_clip,#u13099_clip,#u13108_clip,#u13117_clip,#u13126_clip,#u13135_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u2415-8
{
	position: absolute;
	width: 60px;
	min-height: 576px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	font-size: 48px;
	line-height: 67px;
	left: 81px;
}

#u2415-8popup
{
	z-index: 47;
}

#u2415-5
{
	color: #999999;
}

#u2419-8
{
	position: absolute;
	width: 60px;
	min-height: 576px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 48px;
	line-height: 67px;
	left: 801px;
}

#u2419-8popup
{
	z-index: 55;
}

#u2415,#u2415-2,#u2415-3,#u2415-4,#u2419,#u2419-2,#u2419-3,#u2419-4
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3390-3,#u3390-6,#u2415-6,#u2419-6
{
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 960px;
}

