.version.teefox /* version checker */
{
	color: #000010;
	background-color: #1C7BF4;
}

.html
{
	background-color: #E2E2E2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 419px;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 357px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u153-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 52px;
}

#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	margin-right: -10000px;
	left: 188px;
}

#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#pu3842-3
{
	width: 0.01px;
	margin-left: -183px;
	margin-top: 70px;
}

#u3842-3
{
	z-index: 20;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
}

#u7128
{
	z-index: 23;
	width: 400px;
	height: 580px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 263px;
	background: #FFFFFF url("../images/tee2012_1fox_goodday.jpg") no-repeat center center;
	background-size: contain;
}

#u7135
{
	z-index: 24;
	width: 400px;
	height: 580px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 663px;
	background: #FFFFFF url("../images/tee2012_2fox_summerday.jpg") no-repeat center center;
	background-size: contain;
}

#u7142-10
{
	z-index: 25;
	width: 440px;
	min-height: 98px;
	background-color: transparent;
	margin-left: 80px;
	margin-top: 32px;
	position: relative;
}

#u7142-2
{
	font-size: 28px;
	line-height: 34px;
}

#u7142
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u7142-4,#u7142-6,#u7142-8
{
	font-size: 15px;
	line-height: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

body
{
	position: relative;
	min-width: 960px;
}

