.version.thesis /* version checker */
{
	color: #0000F6;
	background-color: #672E5F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.97417582417893px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #E2E2E2;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 23px;
	padding-bottom: 62px;
	width: 0.01px;/* should not cover content below */
}

#u281
{
	z-index: 10;
	width: 122px;
	margin-left: 419px;
	position: relative;
}

#pu153-4
{
	width: 0.01px;
	margin-left: 357px;
	margin-top: 4px;
}

#u153-4
{
	z-index: 2;
	width: 37px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
}

#u153-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u153-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4
{
	z-index: 12;
	width: 69px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
}

#u7869-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7869-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7871-4
{
	z-index: 16;
	width: 38px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

#u7871-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u7871-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 38px;
	margin: 1px -10000px 0px 0px;
}

#u154-4
{
	z-index: 6;
	width: 57px;
	min-height: 11px;
	padding: 1px;
	position: relative;
	margin-right: -10000px;
	left: 188px;
}

#u154-4:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u154-4:active
{
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 11px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#ppu14894-11
{
	width: 0.01px;
	margin-top: 82px;
}

#pu14894-11
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 480px;
}

#u14894-11
{
	z-index: 21;
	width: 461px;
	min-height: 175px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u15247-8
{
	z-index: 32;
	width: 461px;
	min-height: 405px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
}

#u15062-10
{
	z-index: 94;
	width: 377px;
	min-height: 205px;
	background-color: transparent;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u15062-2
{
	font-size: 26px;
	line-height: 31px;
}

#u15062
{
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u15062-4,#u15062-6,#u15062-8
{
	font-size: 15px;
	line-height: 18px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u15063-31
{
	z-index: 104;
	width: 404px;
	min-height: 200px;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#u15063
{
	font-family: muli, sans-serif;
	font-weight: 300;
}

#u15063-2
{
	font-size: 18px;
	line-height: 27px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u15063-5,#u15063-10
{
	font-size: 14px;
	line-height: 21px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#u15063-6
{
	color: #1E1E1E;
	font-style: italic;
}

#u15063-3,#u15063-4,#u15063-11
{
	color: #1E1E1E;
}

#u15063-15,#u15063-20
{
	font-size: 14px;
	line-height: 21px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u15063-21
{
	font-size: 18px;
	line-height: 27px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u15063-22,#u15063-24,#u15063-26
{
	font-family: quicksand, sans-serif;
	font-weight: 300;
}

#u15063-23,#u15063-25,#u15063-27,#u15063-28,#u15063-29
{
	line-height: 21px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
}

#pu15103
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 13px;
}

#u15103
{
	z-index: 20;
	min-height: 753.7499999999982px;
	background-color: #D2D2D2;
	padding-bottom: 0px;
}

#u15103_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-bottom: 23px;
}

#keybod_short
{
	left: 140px;
	position: relative;
}

#u15101-9
{
	z-index: 135;
	width: 200px;
	background-color: transparent;
	font-size: 22px;
	line-height: 33px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	left: 140px;
	margin-top: 18px;
	position: relative;
}

#pu15102-6
{
	width: 0.01px;
	left: 140px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u15102-6
{
	z-index: 48;
	width: 368px;
	min-height: 407px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 520px;
}

#u15524
{
	z-index: 250;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u18988
{
	z-index: 257;
	width: 375px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 525px;
}

#u15233-6
{
	z-index: 144;
	width: 255px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	left: 677px;
	margin-top: 5px;
	position: relative;
}

#u15233
{
	font-size: 13px;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	line-height: 20px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u15103-bw
{
	z-index: 20;
	min-height: 753.7499999999982px;
}

#slideshowu14955
{
	z-index: 54;
	width: 0.01px;
	height: 328px;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	left: 140px;
}

#u14989popup
{
	z-index: 55;
}

#u19249
{
	z-index: 56;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19309
{
	z-index: 58;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19329
{
	z-index: 60;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19269
{
	z-index: 62;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19249_img,#u19309_img,#u19329_img,#u19269_img
{
	padding-top: 5px;
	padding-bottom: 4px;
}

#u15000
{
	z-index: 64;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15004
{
	z-index: 66;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u14994
{
	z-index: 68;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15000_img,#u15004_img,#u14994_img
{
	margin-left: -7px;
	margin-right: -7px;
}

#u14992
{
	z-index: 70;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u14990
{
	z-index: 72;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15002
{
	z-index: 74;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u14992_img,#u14990_img,#u15002_img
{
	margin-left: -6px;
	margin-top: 1px;
	margin-right: -6px;
}

#u14960-9popup
{
	z-index: 76;
}

#u14961-9popup
{
	z-index: 85;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u15441
{
	z-index: 151;
	min-height: 805.0500000000002px;
	background-color: #D2D2D2;
	padding-bottom: 1px;
}

#u15441_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-bottom: 138px;
}

#clickkick_short
{
	left: 128px;
	position: relative;
}

#u15494-7
{
	z-index: 238;
	width: 200px;
	background-color: transparent;
	font-size: 22px;
	line-height: 33px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	left: 128px;
	margin-top: 31px;
	position: relative;
}

#u15101-3,#u15494-3
{
	font-style: italic;
	line-height: 33px;
}

#u15101-4,#u15494-4
{
	line-height: 33px;
}

#pu15442-9
{
	width: 0.01px;
	left: 128px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u15442-9
{
	z-index: 153;
	width: 368px;
	min-height: 407px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 136px;
}

#u15654
{
	z-index: 253;
	width: 480px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 452px;
}

#u19008
{
	z-index: 259;
	width: 374px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 12px;
}

#u15441-bw
{
	z-index: 151;
	min-height: 805.0500000000002px;
}

#slideshowu15443
{
	z-index: 172;
	width: 0.01px;
	height: 328px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 580px;
}

#u14989,#u15475
{
	position: absolute;
	width: 480px;
	height: 328px;
	background-color: transparent;
}

#u15475popup
{
	z-index: 173;
}

#u19059
{
	z-index: 174;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19079
{
	z-index: 176;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19039
{
	z-index: 178;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19039_img
{
	margin-top: -12px;
	margin-right: -4px;
	margin-bottom: -23px;
}

#u15597
{
	z-index: 180;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15597_img
{
	margin-left: -24px;
	margin-right: -87px;
}

#u15588
{
	z-index: 182;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15665
{
	z-index: 184;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15633
{
	z-index: 186;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15633_img
{
	margin-left: -5px;
	margin-top: -16px;
	margin-bottom: -20px;
}

#u15606
{
	z-index: 188;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15606_img
{
	margin: -20px -7px -15px 1px;
}

#u15615
{
	z-index: 190;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u15615_img
{
	margin-top: -20px;
	margin-right: 2px;
	margin-bottom: -38px;
}

#u15624
{
	z-index: 192;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19079_img,#u15624_img
{
	padding-right: 2px;
}

#u15453-9popup
{
	z-index: 194;
}

#u14961-9,#u15454-9
{
	position: absolute;
	width: 210px;
	min-height: 308px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 250px;
}

#u15454-9popup
{
	z-index: 203;
}

#pu15441,#pu18803
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 9px;
}

#u18803
{
	z-index: 152;
	min-height: 678.7499999999995px;
	background-color: #D2D2D2;
	padding-bottom: 0px;
}

#u18803_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u18803_position_content
{
	margin-bottom: -23px;
	width: 100%;
}

#pu18806-5
{
	width: 0.01px;
	left: 128px;
	position: relative;
}

#u18806-5
{
	z-index: 245;
	width: 200px;
	background-color: transparent;
	font-size: 22px;
	line-height: 33px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u15101-7,#u15233-4,#u15494-5,#u18806-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u15101,#u15494,#u18806
{
	font-size: 20px;
	color: #1E1E1E;
	font-family: quicksand, sans-serif;
	font-weight: 300;
	line-height: 30px;
}

#u15101-2,#u15494-2,#u18806-2
{
	font-size: 20px;
	color: #1E1E1E;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	line-height: 30px;
}

#textneck_short
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u18978
{
	z-index: 255;
	width: 305px;
	background-color: transparent;
	left: 155px;
	margin-top: 13px;
	position: relative;
}

#u18809-10
{
	z-index: 162;
	width: 368px;
	min-height: 407px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	left: 128px;
	margin-top: 8px;
	position: relative;
}

#u14894,#u14894-3,#u14894-5,#u14894-7,#u15063-9,#u18809
{
	font-style: italic;
}

#u18803-bw
{
	z-index: 152;
	min-height: 678.7499999999995px;
}

#slideshowu18812
{
	z-index: 212;
	width: 0.01px;
	height: 342px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 569px;
}

#u18815
{
	position: absolute;
	width: 480px;
	height: 328px;
	background-color: transparent;
	top: 14px;
	left: 11px;
}

#u18815popup
{
	z-index: 213;
}

#u19193
{
	z-index: 214;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19193_img
{
	margin-top: -16px;
	margin-bottom: -16px;
}

#u19441
{
	z-index: 216;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19441_img
{
	margin-right: -21px;
	margin-bottom: -1px;
}

#u19461
{
	z-index: 218;
	width: 480px;
	height: 328px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19461_img
{
	margin-top: -16px;
	margin-right: -7px;
	margin-bottom: -21px;
}

#u14960-9,#u15453-9,#u18814-9
{
	position: absolute;
	width: 201px;
	min-height: 308px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u18814-9popup
{
	z-index: 220;
}

#u18813-9
{
	position: absolute;
	width: 210px;
	min-height: 308px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 14px;
	left: 261px;
}

#u18813-9popup
{
	z-index: 229;
}

#pu15679-4
{
	width: 0.01px;
	margin-top: 20px;
}

#u15679-4
{
	z-index: 40;
	width: 450px;
	min-height: 190px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u15682-4
{
	z-index: 44;
	width: 450px;
	min-height: 229px;
	background-color: transparent;
	padding: 15px;
	font-size: 16px;
	line-height: 24px;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

.html
{
	background-color: #E2E2E2;
}

body
{
	position: relative;
	min-width: 960px;
}

